<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notificación terminación de contrato</title>
    <style>
        *{
            margin:0;
            padding: 0;
        }
        body, h1, h2, h3, h4, h5, p, a{
            font-family: 'Arial', sans-serif;
            color:#444;
        }
        h2{
            font-size:18px;
        }
        p, li{
            line-height: 1.2;
            font-size:15px;
        }
    </style>
</head>
<body>
   <table width="90%" style="max-width: 2000px; margin: 0 auto;" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td height="40"></td>
        </tr>
        <tr>
            <td>
                <p>{{ reg.ciudad }}, {{ utilities.monthToText("now"|date("m")) }} {{ "now"|date("d") }} del {{ "now"|date("Y") }}.</p>
            </td>
        </tr>
        <tr>
            <td height="70"></td>
        </tr>
        <tr>
            <td>
                <p>Señor(a)</p>
                <p><strong>{{ reg.nameEmployee }}</strong></p>
                <p><strong>{{ reg.typeDocEmployee }}. {{ reg.numberDocEmployee }}</strong></p>
                <p>{{ reg.ciudad }}</p>
            </td>
        </tr>
        <tr>
            <td height="70"></td>
        </tr>
        <tr>
            <td>
                <p style="text-align: right;"><strong>REF: Notificación Terminación del contrato laboral</strong></p>
            </td>
        </tr>
        <tr>
            <td height="60"></td>
        </tr>
        <tr>
            <td>
                <p style="margin-bottom:20px;">Apreciado(a) {{ reg.nameEmployee }}:</p>

                <p style="margin-bottom:20px;">Nos permitimos informarle que {{ reg.nameEmployer}} ha decidido dar por terminado unilateralmente su contrato de trabajo sin justa causa y previo el pago de la indemnización de que trata el numeral 1º del literal a) del artículo 28º de la Ley 789 de 2.002, a la finalización de la jornada laboral del día de hoy, <strong>({{ reg.dateLiquidation|date("d") }}) {{ utilities.getDayMonthToLeters(reg.dateLiquidation|date("d"))|capitalize  }} días del mes de {{ utilities.monthToText(reg.dateLiquidation|date("m")) }} de {{ reg.dateLiquidation|date("Y") }}</strong>.</p>
                <p>Quiero agradecerle el aporte personal que brindó durante el tiempo que desarrollo su labor y le deseo éxitos en su futuro profesional.</p>
            </td>
        </tr>
        <tr>
            <td height="50"></td>
        </tr>
        <tr>
            <td>Atentamente,</td>
        </tr>
        <tr>
            <td height="30"></td>
        </tr>
        <tr>
            <td>
                <p><strong>{{ reg.nameEmployer }}<br>
                <strong>{{ reg.typeDocEmployer }}. {{ reg.numberEmployer }}</strong></strong></p>
            </td>
        </tr>

        <tr>
            <td height="50"></td>
        </tr>
        <tr>
            <td >Recibí:</td>
        </tr>
        <tr>
            <td height="40"></td>
        </tr>
        <tr>
            <td><p>________________________________________</p>
                <p><strong>{{ reg.nameEmployee }}<br>
                        <strong>{{ reg.typeDocEmployee }} {{ reg.numberDocEmployee }}</strong></strong></p>
            </td>
        </tr>
        <tr>
            <td height="5"></td>
        </tr>
        <tr>
            <td >Fecha:_____________________</td>
        </tr>


    </table>
</body>
</html>