<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carta de aceptación de Renuncia</title>
    <style>
        *{
            margin:0;
            padding: 0;
        }
        body, h1, h2, h3, h4, h5, p, a{
            font-family: 'Arial', sans-serif;
            color:#444;
        }
        h2{
            font-size:18px;
        }
        p, li{
            line-height: 1.2;
            font-size:14px;
        }
    </style>
</head>
<body>
    <table width="90%" style="max-width: 2000px; margin: 0 auto;" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td height="40"></td>
        </tr>
        <tr>
            <td>
                <p>{{ reg.ciudad }}, {{ utilities.monthToText("now"|date("m")) }} {{ "now"|date("d") }} del {{ "now"|date("Y") }}.</p>
            </td>
        </tr>
        <tr>
            <td height="70"></td>
        </tr>
        <tr>
            <td>
                <p>Señor(a)</p>
                <p><strong>{{ reg.nameEmployee }}</strong></p>
                <p>{{ reg.ciudad }}</p>
            </td>
        </tr>
        <tr>
            <td height="70"></td>
        </tr>
        <tr>
            <td>
                <p style="text-align: right;"><strong>Asunto: Aceptación carta de renuncia</strong></p>
            </td>
        </tr>
        <tr>
            <td height="60"></td>
        </tr>
        <tr>
            <td>
                <p style="margin-bottom:20px;">Cordial saludo:</p>
                 <p style="margin-bottom:20px;">Con la presente me permito informale, que de acuerdo a su comunicación enviada en la cual presenta su renuncia voluntaria a la actividad que de manera particular usted venía desarrollando, he decidido aceptarla al finalizar la jornada el día {{ reg.dateLiquidation|date("d") }} de {{ utilities.monthToText(reg.dateLiquidation|date("m")) }} del año {{ reg.dateLiquidation|date("Y") }}.</p>
                <p>Agradezco los servicios que usted me prestó durante su permanencia y le deseo éxitos en sus nuevas actividades.</p>
            </td>
        </tr>
        <tr>
            <td height="50"></td>
        </tr>
        <tr>
            <td>Cordialmente,</td>
        </tr>
        <tr>
            <td height="150"></td>
        </tr>
        <tr>
            <td>
                <p><strong>{{ reg.nameEmployer }}<br>
                <strong>{{ reg.typeDocEmployer }} {{ reg.numberEmployer }}</strong></strong></p>
            </td>
        </tr>
    </table>
</body>
</html>