<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TERMINACION DE CONTRATO LABORAL</title>
    <style>
        *{
            margin:0;
            padding: 0;
        }
        body, h1, h2, h3, h4, h5, p, a{
            font-family: 'Arial', sans-serif;
            color:#444;
        }
        h2{
            font-size:18px;
        }
        p, li{
            line-height: 1.2;
            font-size:14px;
        }
    </style>
</head>
<body>
<table width="90%" style="max-width: 2000px; margin: 0 auto;" align="center" cellpadding="0" cellspacing="0">
    <tr>

    </tr>
    <tr>
        <td height="80"></td>
    </tr>
    <tr>
        <td>
            <p>{{ reg.ciudad }}, {{ utilities.monthToText("now"|date("m")) }} {{ "now"|date("d") }} del {{ "now"|date("Y") }}.</p>
        </td>
    </tr>
    <tr>
        <td height="50"></td>
    </tr>
    <tr>
        <td>
            <p>Señor(a)</p>
            <p><strong>{{ reg.nameEmployee }}</strong></p>
            <p><strong>{{ reg.typeDocEmployee }}. {{ reg.numberDocEmployee }}</strong></p>
        </td>
    </tr>
    <tr>
        <td height="50"></td>
    </tr>
    <tr>
        <td> <p>REF: <strong>NOTIFICACION TERMINACION DE CONTRATO LABORAL</strong>  </p></td>
    </tr>
    <tr>
        <td height="70"></td>
    </tr>
    <tr>
        <td><p>Apreciada {{ reg.nameEmployee }}</p></td>
    </tr>
    <tr>
        <td height="50"></td>
    </tr>
    <tr>
        <td>
            <p style="margin-bottom:20px;">Cordialmente me permito comunicarle que las labores por la cuales fue contratado(a) finalizarán el día {{ reg.dateLiquidation|date("d") }} del mes {{ utilities.monthToText(reg.dateLiquidation|date("m")) }} del año {{ reg.dateLiquidation|date("Y") }}. El motivo de la finalización del contrato es: “Terminación contrato Fijo” dando así por terminada la relación laboral.
        </td>
    </tr>
    <tr>
        <td height="40"></td>
    </tr>
    <tr>
        <td>Agradezco los servicios prestados y le deseo éxitos en sus actividades futuras.</td>
    </tr>
    <tr>
        <td height="40"></td>
    </tr>
    <tr>
        <td>Atentamente</td>
    </tr>
    <tr>
        <td height="150"></td>
    </tr>
    <tr>
        <td>
            <p><strong>{{ reg.nameEmployer }}<br>
            <strong>{{ reg.typeDocEmployer }}. {{ reg.numberEmployer }}</strong></strong></p>
        </td>
    </tr>
</table>
</body>
</html>