<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Certificado laboral</title>
    <style>
        *{
            margin:0;
            padding: 0;
        }
        body, h1, h2, h3, h4, h5, p, a{
            font-family: 'Arial', sans-serif;
            color:#444;
        }
        h2{
            font-size:18px;
            text-align:center;
        }
        p, li{
            line-height: 1.2;
            font-size:14px;
        }
    </style>
</head>
<body>
    <table width="90%" style="max-width: 2000px; margin: 0 auto;" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td height="240"></td>
        </tr>
        <tr>
            <td><h2>CERTIFICADO LABORAL</h2></td>
        </tr>
        <tr>
            <td height="70"></td>
        </tr>
        <tr>
            <td>
                <p style="margin-bottom:20px;">Yo {{ reg.nameEmployer }} identificado con {{ reg.typeDocEmployer }} No. {{ reg.numberEmployer }} certifico que  <strong>{{ reg.nameEmployee }}</strong> identificado con {{ reg.typeDocEmployee }} No. {{ reg.numberDocEmployee }}, laboró para mí como {{ reg.cargo }} {{ utilities.letersTypeOfDay(reg.jornadaLaboral) }} desde el {{ reg.dateInit|date("d") }} de {{ utilities.monthToText(reg.dateInit|date("m")) }} del {{ reg.dateInit|date("Y") }}, hasta el {{ reg.dateLiquidation|date("d") }} de {{ utilities.monthToText(reg.dateLiquidation|date("m")) }} del {{ reg.dateLiquidation|date("Y") }}, a través de un contrato a {{ utilities.letersTypeContract(reg.typeContract) }}.</p>
                <p style="margin-bottom:20px;">Se informa que el motivo de retiro fue {{ reg.termContract }}.</p>
                <p>Se expide la siguiente certificación a los ({{ reg.dateLiquidation|date("d") }}) {{ utilities.getDayMonthToLeters(reg.dateLiquidation|date("d"))|capitalize  }} días del mes de {{ utilities.monthToText(reg.dateLiquidation|date("m")) }} de {{ reg.dateLiquidation|date("Y") }}.</p>
            </td>
        </tr>
        <tr>
            <td height="50"></td>
        </tr>
        <tr>
            <td>Cordialmente,</td>
        </tr>
        <tr>
            <td height="150"></td>
        </tr>
        <tr>
            <td>
                <p><strong>{{ reg.nameEmployer }}<br>
                <strong>{{ reg.typeDocEmployer }}. {{ reg.numberEmployer }}</strong></strong></p>
            </td>
        </tr>
    </table>
</body>
</html>