<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simulación de liquidación</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body, h1, h2, h3, h4, h5, p, a {
            font-family: 'Arial', sans-serif;
            color: #444;
        }

        h2 {
            font-size: 18px;
            text-align: center;
        }

        h3 {
            background: #e4e4e4;
            border: 2px solid #bebebe;
            border-bottom: none;
            width: 100%;
            height: 20px;
            line-height: 20px;
            text-align: center;
            font-size: 15px;
        }

        p, li {
            line-height: 1.1;
            font-size: 12px;
        }

        th {
            font-size: 13px;
            text-align: left;
            background: #ededed;
            border: 1px solid #bebebe;
            height: 15px;
            padding: 2px 5px;
        }

        td {
            font-size: 13px;
            min-height: 45px;

        }

        table tr td table {
            border: 1px solid #bebebe;
        }

        table tr td table tr td {
            border: 1px solid #bebebe;
            height: 10px;
            padding: 2px 5px;
        }

        table td table tr.no-border td {
            border: none !important;
        }

        table td table tr.sub td {
            background: #ededed;
            font-weight: bold;
        }

        table td table tr.total td {
            background: #bebebe;
            font-weight: bold;
            font-size: 15px;
            border-color: #7c7c7c;
        }
    </style>
</head>
<body>
<table width="90%" style="max-width: 2000px; margin: 0 auto;" align="center" cellpadding="0" cellspacing="0">
    {% set cantidad = reg.diasSemana|split(',') %}
    <tr>
        <td colspan="3" height="15"></td>
    </tr>
    <tr>
        <td colspan="3"><h2>CÁLCULOS DE LIQUIDACIÓN FINAL DE CONTRATO DE TRABAJO</h2></td>
    </tr>
    <tr>
        <td colspan="3" height="15"></td>
    </tr>
    <tr>
        <td width="960" valign="top">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th bgcolor="#ededed">EMPLEADOR</th>
                </tr>
                <tr>
                    <td>{{ reg.nameEmployer }}</td>
                </tr>
                <tr>
                    <td>{{ reg.typeDocEmployer }} {{ reg.numberEmployer }}</td>
                </tr>
            </table>
        </td>
        <td width="90"></td>
        <td width="960" valign="top">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th bgcolor="#ededed">EMPLEADO</th>
                </tr>
                <tr>
                    <td>{{ reg.nameEmployee }}</td>
                </tr>
                <tr>
                    <td>{{ reg.typeDocEmployee }} {{ reg.numberDocEmployee }}</td>
                </tr>
                <tr>
                    <td>Cargo: {{ reg.cargo }}</td>
                </tr>
                <tr>
                    <td>Causa de la liquidación: {{ reg.termContract }}</td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td colspan="3" height="15"></td>
    </tr>

    <tr>
        <td width="960" valign="top" colspan="3">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th colspan="2" bgcolor="#ededed">CONTRATO</th>
                </tr>
                <tr>
                    <td width="507">Días laborados por semana:</td>
                    {% if reg.jornadaLaboral == "TC" %}
                        <td width="300">7</td>
                    {% else %}
                        <td width="300">
                            {{ cantidad|length }}
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <td width="507">Días laborados por mes:</td>
                    {% if reg.jornadaLaboral == "TC" %}
                        <td width="300">30</td>
                    {% else %}
                        <td width="300">{{ cantidad|length * 4}}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td width="507">Salario:</td>
                    {% if reg.jornadaLaboral == "TC" %}
                        <td width="300">$ {{ reg.salary|number_format }}</td>
                    {% else %}
                            <td width="300">$ {{ (reg.salary * cantidad|length * 4)|number_format }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td width="507">Fecha de inicio del contrato:</td>
                    <td width="300">{{ reg.dateInit|date("d/m/Y") }}</td>
                </tr>
                {% if reg.typeContract == "TC" %}
                    <tr>
                        <td width="507">Fecha final del contrato:</td>
                        <td width="300">{{ reg.dateEnd|date("d/m/Y") }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td width="507">Fecha liquidación del contrato:</td>
                    <td width="300">{{ reg.dateLiquidation|date("d/m/Y") }}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="3" height="15"></td>
    </tr>
    <tr>
        <td width="960">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th colspan="2" bgcolor="#ededed">VACACIONES</th>
                </tr>
                <tr>
                    <td width="507">Días causados:</td>
                    <td width="300">{{ reg.diasVacaciones|round(1) }}</td>
                </tr>
                <tr>
                    <td width="507">Días tomados:</td>
                    <td width="300">{{ reg.vacaciones|round(1) }}</td>
                </tr>
                <tr>
                    <td width="507">Días pendientes:</td>
                    <td width="300">{{ (reg.diasVacaciones - reg.vacaciones)|round(1) }}</td>
                </tr>
            </table>
        </td>
        <td width="90"></td>
        <td width="960">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th colspan="2" bgcolor="#ededed">BASES DE LIQUIDACIÓN</th>
                </tr>

                <tr>
                    <td width="507">Base cesantías:</td>
                    <td width="300">$ {{ reg.base|number_format }}</td>
                </tr>

                <tr>
                    <td width="507">Base prima:</td>
                    <td width="300">$ {{ reg.base|number_format }}</td>
                </tr>

                <tr>
                    <td width="507">Base vacaciones::</td>
                    {% if reg.jornadaLaboral == "TC" %}
                        <td width="300">$ {{ (reg.base/30)|number_format }}</td>
                    {% else %}
                        <td width="300">$ {{ (reg.base  / (cantidad|length * 4) )|number_format }}</td>
                    {% endif %}
                </tr>

            </table>
        </td>
    </tr>
    <tr>
        <td colspan="3" height="15"></td>
    </tr>

    <tr>
        <td colspan="3" height="15"></td>
    </tr>
    <tr>
        <td colspan="3">
            <h3>CONCEPTOS LIQUIDACIÓN DEL CONTRATO DE TRABAJO</h3>
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th align="center" width="813" style="text-align: center;" bgcolor="#ededed">CONCEPTO</th>
                    <th align="center" width="320" style="text-align: center;" bgcolor="#ededed">DÍAS</th>
                    <th align="center" width="440" style="text-align: center;" bgcolor="#ededed">DEVENGADO</th>
                    <th align="center" width="440" style="text-align: center;" bgcolor="#ededed">DEDUCIDO</th>
                </tr>

                {% if reg.valorPrimeraPrima > 0 %}
                    <tr class="sub">
                        <td colspan="1">Prima primer periodo (Ene-Jun)</td>
                        <td>{{ reg.daysPrimerSemestre }}</td>
                        <td align="center" style="border-right:none;"><strong>$ {{ reg.valorPrimeraPrima |number_format }}</strong></td>
                        <td align="center" style="border-right:none;"><strong>$ 0</strong></td>
                    </tr>
                {% endif %}

                {% if reg.valorSegundaPrima > 0 %}
                    <tr class="sub">
                        <td colspan="1">Prima segundo periodo (Jul-Dic)</td>
                        <td>{{ reg.daysSegundoSemestre }}</td>
                        <td align="center" style="border-right:none;"><strong>$ {{ reg.valorSegundaPrima |number_format }}</strong></td>
                        <td align="center" style="border-right:none;"><strong>$ 0</strong></td>
                    </tr>
                {% endif %}
                {% if reg.valorCesantiasAnterior > 0 %}

                    <tr class="sub">
                        <td colspan="1">Cesantias año {{ reg.dateLiquidation|date("Y")-1 }}</td>
                        <td>{{ reg.daysCesantiasAnterior }}</td>
                        <td align="center" style="border-right:none;"><strong>$ {{ reg.valorCesantiasAnterior |number_format }}</strong>
                        <td align="center" style="border-right:none;"><strong>$ 0</strong></td>
                    </tr>
                {% endif %}

                {% if reg.valorIntCesantiasAnterior > 0 %}
                    <tr class="sub">
                        <td colspan="1">Intereses cesantias año {{ reg.dateLiquidation|date("Y")-1 }}</td>
                        <td>{{ reg.daysCesantiasAnterior }}</td>
                        <td align="center" style="border-right:none;"><strong>$ {{ reg.valorIntCesantiasAnterior |number_format }}</strong></td>
                        <td align="center" style="border-right:none;"><strong>$ 0</strong></td>
                    </tr>
                {% endif %}

                {% if reg.valorCesantiasActual > 0 %}
                    <tr class="sub">
                        <td colspan="1">Cesantias año {{ reg.dateLiquidation|date("Y") }}</td>
                        <td>{{ reg.daysCesantiasActual }}</td>
                        <td align="center" style="border-right:none;"><strong>$ {{ reg.valorCesantiasActual |number_format }}</strong>
                        <td align="center" style="border-right:none;"><strong>$ 0</strong></td>
                    </tr>
                {% endif %}

                {% if reg.valorIntCesantiasActual > 0 %}
                    <tr class="sub">
                        <td colspan="1">Intereses cesantias año {{ reg.dateLiquidation|date("Y") }}</td>
                        <td>{{ reg.daysCesantiasActual }}</td>
                        <td align="center" style="border-right:none;"><strong>$ {{ reg.valorIntCesantiasActual |number_format }}</strong></td>
                        <td align="center" style="border-right:none;"><strong>$ 0</strong></td>
                    </tr>
                {% endif %}

                {% set vacacionesA = 0 %}
                {% set vacacionesP =  0 %}
                {% if reg.valorVacaciones > 0 %}
                        {% set vacacionesA =  reg.valorVacaciones %}
                        <tr class="sub">
                            <td colspan="1">Vacaciones</td>
                            <td>{{ (reg.diasVacaciones - reg.vacaciones)|round(1)  }}</td>
                            <td align="center" style="border-right:none;"><strong>$ {{ vacacionesA|number_format }}</strong></td>
                            <td align="center" style="border-right:none;"><strong>$ 0</strong></td>
                        </tr>
                {% else %}
                        {% set vacacionesP =  reg.valorVacaciones %}
                        <tr class="sub">
                            <td colspan="1">Vacaciones</td>
                            <td>{{ (reg.diasVacaciones - reg.vacaciones)|round(1) }}</td>
                            <td align="center" style="border-right:none;"><strong>$ 0</strong></td>
                            <td align="center" style="border-right:none;"><strong>$ {{ vacacionesP|number_format }}</strong></td>
                        </tr>

                {% endif %}

                {% set devengado = reg.valorPrimeraPrima + reg.valorSegundaPrima + reg.valorCesantiasAnterior + reg.valorIntCesantiasAnterior + reg.valorCesantiasActual + reg.valorIntCesantiasActual + vacacionesA + reg.valorIndemnizacion %}
                {% set deducido = vacacionesP %}

                {# set indemnizacion = reg.valorIndemnizacion #}

                {% if reg.valorIndemnizacion > 0 %}
                    <tr class="sub">
                        <td colspan="1">Indemnización</td>
                        <td>{{ reg.daysIndemnizacion }}</td>
                        <td align="center" style="border-right:none;"><strong>$ {{  reg.valorIndemnizacion|number_format }}</strong></td>
                        <td align="center" style="border-right:none;"><strong>$ 0</strong></td>
                    </tr>
                {% endif %}

                <tr class="total">
                    <td style="border-left:none;" bgcolor="#bebebe" colspan="2">Subtotal</td>
                    <td style="border-left:none;" bgcolor="#bebebe">
                        $ {{ (devengado)|number_format }}
                    </td>
                    <td style="border-left:none;" bgcolor="#bebebe">$ {{ deducido|number_format }}</td>
                </tr>

                <tr class="total">
                    <td style="border-left:none;" bgcolor="#bebebe" colspan="2">Total</td>
                    <td style="border-left:none;" bgcolor="#bebebe" colspan="2">$ {{ (devengado + deducido)|number_format }}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="3" height="15"></td>
    </tr>
    <tr>
        <td colspan="3">
            <p>Constancia: al aceptar y recibir la presente liquidación, hago constar que queda a paz y salvo por concepto de prestaciones sociales, ya que todos los derechos me han sido reconocido oportunamente de acuerdo con las disposiciones legales y en consecuencia firmo.</p>
        </td>
    </tr>
    <tr>
        <td colspan="3" height="80"></td>
    </tr>
    <tr>
        <td width="960">
            <hr>
            <p><strong>Firma Empleador(a)</strong></p>
        </td>
        <td width="90"></td>
        <td width="960">
            <hr>
            <p><strong>Firma Empleado(a)</strong></p>
        </td>
    </tr>
    <tr>
        <td colspan="3" height="80"></td>
    </tr>
    <tr>
        <td colspan="3">
            <p style="font-size:9pt;">Los cálculos aquí enviados y realizados mediante el servicio de simulación de liquidación de
                Calculadora de liquidación, no exime a el empleador de obligaciones u omisiones de la relación laboral con respecto al
                pasado.</p>
            <p style="font-size:9pt;">Los cálculos entregados son basados en la información proporcionada por el
                empleador y Calculadora de liquidación no tiene responsabilidad sobre estos, tampoco actúa en ningún momento como
                responsable de la relación laboral pactada ni anterior ni posterior.</p>
            <p style="font-size:9pt;">El empleador es el único responsable de terminar correctamente la relación
                laboral, mediante el pago de la liquidación e indemnizaciones (si dan a lugar) así como de brindar copia
                de los soportes a su empleado.</p>
        </td>
    </tr>
</table>
</body>
</html>