.botones-form {
    text-align: center;
    margin-top: 30px;
}

.error {
    color: red !important;
    font-size: 12px !important;
}

.sweet-alert{
    z-index: 11050 !important;
}

.sweet-overlay {
    z-index: 11000 !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.top10{
    padding-top: 10px !important;
}

.top20{
    padding-top: 20px !important;
}

.top40{
    padding-top: 40px !important;
}

.mtop10{
    margin-top: 10px !important;
}

.mtop20{
    margin-top: 20px !important;
}

.mtop40{
    margin-top: 40px !important;
}

.actions{
    display: none !important;
}

.breadcrumbs{
    padding-top: 30px !important;
}

.downloadLog{
    float: right;
}

.red{
    color: red !important;
}