<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Symplifica - ¿Cómo pago?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Barlow:300,400,600,700%7CWork+Sans:700,900" rel="stylesheet">

    <style type="text/css">
        body, h1, h2, h3, h4, h5, p, label, a {
            font-family: 'Barlow', sans-serif;
            color: #3c4b5a;
        }

        p {
            color: #555;
        }

        a {
            text-decoration: none;
        }

        .redes {
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 50%;
        }

        .blog {
            padding: 10px;
            width: 50%;
            text-align: right;
        }

        table {
            width: 100%;
        }

        table th {
            background: #dfdfdf;
            color: #00cccb;
            font-weight: 600;
            padding: 5px;
            border: 1px solid #ccc;
        }

        table td.calculos {
            padding: 5px;
            color: #777;
            border: 1px solid #ccc;
        }

        table td.total {
            padding: 5px;
            background: #00cccb;
            color: #FFF;
            font-weight: bold;
            font-size: 16px;
        }

        @media screen and (max-width: 500px) {
            .redes {
                width: 100%;
                justify-content: center;
            }

        }

        @media screen and (max-width: 500px) {
            .blog {
                width: 100%;
                text-align: center;
            }

        }</style>
</head>
<body style="margin:0;">
<table align="center" width="100%" style="max-width:650px;" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center" style="padding:10px;" bgcolor="#FFFFFF"><img
                    src="https://gallery.mailchimp.com/8297f686b6a6403385004deab/images/07e3676f-951b-478d-8208-add99da7384d.png"
                    alt="Calculadora de liquidación" style="max-width:190px;" width="100%">
        </td>
    </tr>
    <tr>
        <td align="left" style="padding:10px;">
            <h2 style="font-size:24px;font-weight:500;color:#3c4b5a;text-align:center;">Hola {{ register.nameEmployer }} </h2>
            <p style="font-size:16px;font-weight:300;display:block;margin:15px auto;line-height:1.2;">Gracias por usar
                nuestra calculadora.<br>En este correo encontrarás los cálculos y documentos para la
                liquidación laboral de tu empleado.</p>
            <h3 style="font-size:18px;color:#3c4b5a;font-weight:600;margin-bottom:6px;">¿Qué hacer con esta
                información?</h3>
            <ul style="padding-left:20px;">
                <li style="font-size:14px;color:#3c4b5a;font-weight:300;line-height:1.2;margin-bottom:6px;">En el
                    documento “Cálculos de liquidación” podrás ver los cálculos de las prestaciones causadas a pagar y
                    las indemnizaciones (si corresponden), así como las bases y el valor total a pagar a tu empleado.
                </li>
                <li style="font-size:14px;color:#3c4b5a;font-weight:300;line-height:1.2;margin-bottom:6px;">Te
                    recomendamos realizar el pago de la liquidación en un plazo máximo de ocho días o en la fecha normal
                    del pago de nómina (lo que ocurra primero).
                </li>
                <li style="font-size:14px;color:#3c4b5a;font-weight:300;line-height:1.2;margin-bottom:6px;">Recuerda
                    firmar una copia de la liquidación y entregarla a tu empleado junto con el pago, así como guardar
                    una copia firmada para ti.
                </li>
                <li style="font-size:14px;color:#3c4b5a;font-weight:300;line-height:1.2;margin-bottom:6px;">Si en el
                    eventual caso de que tu empleado no quiera recibir el pago o esté en desacuerdo con los cálculos, te
                    recomendamos asesorarte con un abogado.
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td bgcolor="#f5f5f5" style="padding:20px;" align="left">
            <h3 style="font-size:18px;color:#3c4b5a;font-weight:600;margin-bottom:6px;">¿Qué documentos están
                adjuntos?</h3>
            <ul style="padding-left:20px;">

                <li style="font-size:14px;color:#3c4b5a;font-weight:300;line-height:1.2;margin-bottom:6px;">
                    <strong>Cálculos de liquidación:</strong> Aquí encuentras los cálculos de cuanto deberías pagarle
                    a tu empleado para finalizar la relación laboral y la indemnización en caso de que aplique.
                </li>

                <li style="font-size:14px;color:#3c4b5a;font-weight:300;line-height:1.2;margin-bottom:6px;">
                    <strong>Certificado laboral:</strong> Rectifica que tu empleado laboró para ti por el periodo y
                    cargo en cuestión
                </li>


                {% for path in paths %}

                    {% set part = path|split('/') %}

                    {% set doc = part[10]|replace({'.pdf': ''}) %}


                        {% if doc == "NotificacionTerminoContratoJustaCausa" %}

                            <li style="font-size:14px;color:#3c4b5a;font-weight:300;line-height:1.2;margin-bottom:6px;">
                                <strong>Notificación de terminación de contrato despido CON justa causa:</strong> Anuncia
                                formalmente el despido y el efecto de terminación de contrato, así como la causa de este.
                            </li>

                        {% elseif doc == "NotificacionTerminoContratoSinJustaCausa" %}

                            <li style="font-size:14px;color:#3c4b5a;font-weight:300;line-height:1.2;margin-bottom:6px;">
                                <strong>Notificación de terminación de contrato despido SIN justa causa:</strong> Anuncia
                                formalmente el despido y el efecto de terminación de contrato.
                            </li>

                        {% elseif doc == "NotificacionTerminoContratoFijo" %}

                            <li style="font-size:14px;color:#3c4b5a;font-weight:300;line-height:1.2;margin-bottom:6px;">
                                <strong>Terminación de contrato a término fijo:</strong> Anuncia formalmente la terminación de contrato debido a la
                                finalización del tiempo el contrato pactado.
                            </li>

                        {% elseif doc == "CartaDeMutuoAcuerdo" %}

                            <li style="font-size:14px;color:#3c4b5a;font-weight:300;line-height:1.2;margin-bottom:6px;">
                                <strong>Aceptación mutuo acuerdo:</strong> Rectifica formalmente la disposición de ambos de dar por
                                terminado el contrato.
                            </li>

                        {% elseif doc == "AceptarRenuncia" %}

                            <li style="font-size:14px;color:#3c4b5a;font-weight:300;line-height:1.2;margin-bottom:6px;">
                                <strong>Aceptación de renuncia:</strong> Notifica formalmente estar de acuerdo con la renuncia del
                                empleado.
                            </li>

                        {% endif %}


                {% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <td align="left" style="padding:10px;">
            <p style="font-size:16px;font-weight:500;display:block;margin:15px auto;line-height:1.2;color:#00838c;">
                Recuerda que los datos entregados son cálculos aproximados basados en la información suministrada por ti
                y no representan un documento legal.</p>
            <p style="font-weight:300;">¡Qué tengas un gran día!</p>
        </td>
    </tr>
</table>
</body>
</html>