<!DOCTYPE html>
<html>

    {% block head %}
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <title>{% block title %}{% endblock %}</title>
        <meta property="og:title" content="Calcula cuanto debes pagar al liquidar un empleado"/>
        <meta property="og:description" content="Conoce en 5 minutos cuánto pagar por prestaciones e indemnizaciones al liquidar a un empleado."/>
        <meta name="keywords" content="Liquidación, Liquidacion laboral, Liquidar empleado, Indemnización, Pago liquidacion, Calculadora salarial, Terminar contrato, Finalizar contrato, Despido empleado">
        <meta property="og:image" content="{{ asset('img/fb-img.png') }}"/>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('img/favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('img/favicon/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('img/favicon/safari-pinned-tab.svg') }}" color="#07ea58">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="{{ asset('css/estilos.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,600,700|Work+Sans:500,800" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
    </head>
    {% endblock %}
    <body>
        {% block nav %}
            <header>
                <nav>
                    <h1 class="logo"><a href="/"><img src="{{ asset('img/logo-calculadora.png') }}" alt="Calculadora de liquidación"></a></h1>
                    <a href="javascript:;" class="empezar go2modal">Empezar</a>
                </nav>
            </header>
        {% endblock %}

        {% block body %}{% endblock %}
            <footer>
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6 d-inline-block">
                        <img src="{{ asset('img/logo-bw.png') }}" alt="Calculadora de liquidación" style="max-width:169px;">
                    </div>
                    <div class="col-md-6 d-none d-md-inline-block">
                        <p>&copy;2018. Todos los derechos reservados. <a href="/info#terminos">Términos y Condiciones</a></p>
                        <div class="powered">
                            <p><small>Gestionado por:</small></p>
                            <img src="{{ asset('img/logo-symplifica.png') }}" alt="Symplifica" style="max-width:115px;">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 d-inline-block powered">
                        <a href="http://www.payulatam.com/co/" target="_blank"><img src="https://ecommerce.payulatam.com/logos/PayU_180x100_Paga.png" alt="Paga aquí con PayU" border="0" width="100%" style="max-width:120px;" /></a>
                    </div>
                    <div class="col-sm-12 d-block d-sm-block d-md-none">
                         <p>&copy;2018. Todos los derechos reservados. <a href="/info#terminos">Términos y Condiciones</a></p>
                         <div class="powered">
                            <p><small>Gestionado por:</small></p>
                            <img src="{{ asset('img/logo-symplifica.png') }}" alt="Symplifica" style="max-width:115px;">
                        </div>
                    </div>
                </div>
            </footer>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-70850811-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-70850811-2');
        </script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ asset('bootstrap/jquery.min.map') }}"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"> </script>
        <script type="text/javascript" src="{{ asset('bootstrap/moment.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
        <script src="{{ asset('js/bootstrap-datepicker.es.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
        <script type="text/javascript" src="{{ asset('bootstrap/jquery.number.min.js') }}"></script>
        <script>
            $(function() {
                var header = $(".empezar");
                $(window).scroll(function() {
                    var scroll = $(window).scrollTop();

                    if (scroll >= 200) {
                        header.addClass("shine");
                    } else {
                        header.removeClass("shine");
                    }
                });
            });
        </script>
        {% block javascripts %}
        {% endblock %}

    </body>
</html>
