<!-- BEGIN FOOTER -->
<p class="copyright"> 2018 &copy; Realizado para
    <a target="_blank" href="https://www.symplifica.com">Symplfica</a>
</p>
<a href="#index" class="go2top">
    <i class="icon-arrow-up"></i>
</a>
<!-- END FOOTER -->
</div>


</div>
<!-- END CONTAINER -->
</body>