<body class="page-header-fixed page-sidebar-closed-hide-logo">
<!-- BEGIN CONTAINER -->
<div class="wrapper">
    <!-- BEGIN HEADER -->
    <header class="page-header">
        <nav class="navbar mega-menu" role="navigation">
            <div class="container-fluid">

                <!-- notifications -->
                <div class="clearfix navbar-fixed-top">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="toggle-icon">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </span>
                    </button>
                    <!-- End Toggle Button -->
                    <!-- BEGIN LOGO -->
                    <a id="index" class="page-logo" href="/">
                        <img src="{{ asset('img/logo-calculadora.png') }}" alt="Logo"> </a>
                    <!-- END LOGO -->

                    <!-- BEGIN SEARCH
                    <form class="search" action="extra_search.html" method="GET">
                        <input type="name" class="form-control" name="query" placeholder="Search...">
                        <a href="javascript:;" class="btn submit md-skip">
                            <i class="fa fa-search"></i>
                        </a>
                    </form-->
                    <!-- END SEARCH -->

                    <!-- BEGIN TOPBAR ACTIONS -->
                    <div class="topbar-actions">
                        <!-- BEGIN GROUP NOTIFICATION
                        <div class="btn-group-notification btn-group" id="header_notification_bar">
                            <button type="button" class="btn btn-sm md-skip dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="icon-bell"></i>
                                <span class="badge">7</span>
                            </button>
                            <ul class="dropdown-menu-v2">
                                <li class="external">
                                    <h3>
                                        <span class="bold">7 notificaciones</span> pendientes</h3>
                                    <a href="#">ver todas</a>
                                </li>
                                <li>
                                    <ul class="dropdown-menu-list scroller" style="height: 250px; padding: 0;" data-handle-color="#637283">
                                        <li>
                                            <a href="javascript:;">
                                                            <span class="details">
                                                                <span class="label label-sm label-icon label-success md-skip">
                                                                    <i class="fa fa-plus"></i>
                                                                </span> New user registered. </span>
                                                <span class="time">just now</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                            <span class="details">
                                                                <span class="label label-sm label-icon label-danger md-skip">
                                                                    <i class="fa fa-bolt"></i>
                                                                </span> Server #12 overloaded. </span>
                                                <span class="time">3 mins</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                            <span class="details">
                                                                <span class="label label-sm label-icon label-warning md-skip">
                                                                    <i class="fa fa-bell-o"></i>
                                                                </span> Server #2 not responding. </span>
                                                <span class="time">10 mins</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                            <span class="details">
                                                                <span class="label label-sm label-icon label-info md-skip">
                                                                    <i class="fa fa-bullhorn"></i>
                                                                </span> Application error. </span>
                                                <span class="time">14 hrs</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                            <span class="details">
                                                                <span class="label label-sm label-icon label-danger md-skip">
                                                                    <i class="fa fa-bolt"></i>
                                                                </span> Database overloaded 68%. </span>
                                                <span class="time">2 days</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                            <span class="details">
                                                                <span class="label label-sm label-icon label-danger md-skip">
                                                                    <i class="fa fa-bolt"></i>
                                                                </span> A user IP blocked. </span>
                                                <span class="time">3 days</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                            <span class="details">
                                                                <span class="label label-sm label-icon label-warning md-skip">
                                                                    <i class="fa fa-bell-o"></i>
                                                                </span> Storage Server #4 not responding dfdfdfd. </span>
                                                <span class="time">4 days</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                            <span class="details">
                                                                <span class="label label-sm label-icon label-info md-skip">
                                                                    <i class="fa fa-bullhorn"></i>
                                                                </span> System Error. </span>
                                                <span class="time">5 days</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                            <span class="details">
                                                                <span class="label label-sm label-icon label-danger md-skip">
                                                                    <i class="fa fa-bolt"></i>
                                                                </span> Storage server failed. </span>
                                                <span class="time">9 days</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- END GROUP NOTIFICATION -->

                        <!-- BEGIN GROUP INFORMATION
                        <div class="btn-group-red btn-group">
                            <button type="button" class="btn btn-sm md-skip dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="fa fa-plus"></i>
                            </button>
                            <ul class="dropdown-menu-v2" role="menu">
                                <li class="active">
                                    <a href="#">Nueva Entrevista</a>
                                </li>
                                <li>
                                    <a href="#">Nuevo Usuario</a>
                                </li>
                                <li>
                                    <a href="#">Nuevo Cargo</a>
                                </li>
                                <li class="divider"></li>
                            </ul>
                        </div>
                        <!-- END GROUP INFORMATION -->


                        <!-- BEGIN USER PROFILE -->
                        <div class="btn-group-img btn-group">
                            <button type="button" class="btn btn-sm md-skip dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <span>Hola, Esteban</span>
                                <img src="{{ asset('metronic/assets/TalentAdvisor/avatar-empresa.png') }}" alt=""> </button>
                            <ul class="dropdown-menu-v2" role="menu">
                                <!--li>
                                    <a href="page_user_profile_1.html">
                                        <i class="icon-user"></i> Perfíl
                                        <span class="badge badge-danger">1</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="app_calendar.html">
                                        <i class="icon-calendar"></i> Calendario </a>
                                </li>
                                <li>
                                    <a href="app_inbox.html">
                                        <i class="icon-envelope-open"></i> Mensajes
                                        <span class="badge badge-danger"> 3 </span>
                                    </a>
                                </li>
                                <li class="divider"> </li-->
                                <li>
                                    <a href="/logout">
                                        <i class="icon-key"></i> Cerrar sesión</a>
                                </li>
                            </ul>
                        </div>
                        <!-- END USER PROFILE -->

                    </div>
                    <!-- END TOPBAR ACTIONS -->
                </div>
                <!-- notifications -->

                <!-- BEGIN HEADER MENU -->
                <div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">

                        <!-- escritorio -->
                        <li class="dropdown dropdown-fw dropdown-fw-disabled {% if app.request.get('_route') == 'dashboardAdmin' %} active open selected{% endif %}">
                            <a href="{{ url('dashboardAdmin') }}" class="text-uppercase">
                                <i class="icon-home"></i> Reporte de TX </a>
                        </li>
                        <li class="dropdown dropdown-fw dropdown-fw-disabled  {% if app.request.get('_route') == 'reporteLeads' %} active open selected{% endif %}">
                            <a href="{{ url('reporteLeads') }}" class="text-uppercase">
                                <i class="icon-puzzle"></i> Reporte Leads </a>
                        </li>
                        <!-- escritorio -->

                        <!-- evaluaciones
                        <li class="dropdown dropdown-fw dropdown-fw-disabled  ">
                            <a href="javascript:;" class="text-uppercase">
                                <i class="icon-puzzle"></i> Evaluaciones </a>
                            <ul class="dropdown-menu dropdown-menu-fw">
                                <li class="submenu-clima">
                                    <a class="btn-submenu" data-url="metas"> Metas </a>
                                </li>
                                <li class="submenu-competencias">
                                    <a class="btn-submenu" data-url="competencias"> Competencias </a>
                                </li>
                                </li>
                            </ul>
                        </li -->
                        <!-- evaluaciones -->

                        <!-- empresa
                        <li class="dropdown dropdown-fw dropdown-fw-disabled  ">
                            <a href="javascript:;" class="text-uppercase">
                                <i class="icon-briefcase"></i> Empresa </a>
                            <ul class="dropdown-menu dropdown-menu-fw">
                                <li class="submenu-config">
                                    <a href="#">
                                        <i class="icon-wrench"></i> Config General </a>
                                </li>
                                <li class="submenu-departamentos">
                                    <a href="#" class="btn-submenu" data-url="departamentos">
                                        <i class="icon-globe " ></i> Departamentos </a>
                                </li>
                                <li class="submenu-cargos">
                                    <a href="#" class="btn-submenu" data-url="cargos">
                                        <i class="icon-briefcase"></i> Cargos </a>
                                </li>
                                <li class="submenu-categorias">
                                    <a href="#" class="btn-submenu" data-url="categorias">
                                        <i class="icon-briefcase"></i> Categorias </a>
                                </li>
                                <li class="submenu-empleados">
                                    <a href="#">
                                        <i class="icon-users"></i> Empleados </a>
                                </li>
                            </ul>
                        </li -->
                        <!-- empresa -->

                    </ul>
                </div>
                <!-- END HEADER MENU -->
            </div>
            <!--/container-->
        </nav>
    </header>
    <!-- END HEADER -->

    <div class="container-fluid">
