body, h3, h4, h5, h6, p, a, li, input, button{
	font-family: 'Barlow', sans-serif !important;
	color: #555;
}
h1, h2{
	font-family: 'Work Sans', sans-serif;
	color: #555;
}
*{
	margin:0;
	padding: 0;
}
header{
	background: #FFF;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	z-index: 2;
	height: 90px;
}
header nav{
	width: 95%;
	max-width: 1100px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	height: 90px;
}
header a.empezar{
	width: 120px;
	height: 40px;
	border-radius:10px;
	border:1px solid #48b725;
	color: #48b725;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-weight: 600;
	position: relative;
}
header a.empezar:hover{
	color:#FFF;
	background: #48b725;
	text-decoration: none;
	text-shadow: 2px 2px 6px rgba(0,0,0,0.4);
}
header a.empezar.shine{
	color:#FFF;
	background: #48b725;
	text-decoration: none;
	text-shadow: 2px 2px 6px rgba(0,0,0,0.4);
}
header a.empezar.shine:before {
  	animation: shine 2s;
	animation-iteration-count: infinite;
}
header a.empezar.shine:before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: white;
    box-shadow: 0 0 15px 3px white;
	transform: skew(-20deg,0deg);
	-webkit-transform: skew(-20deg,0deg);
	-moz-transform: skew(-20deg,0deg);
	-ms-transform: skew(-20deg,0deg);
	-o-transform: skew(-20deg,0deg);
}
footer{
	width: 100%;
	background:#f0f7f3;
	padding: 20px 0;
}
footer .row{
	width: 95%;
	max-width: 1100px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	min-height: 90px;
	margin:0 auto;
}
footer p{
	color:#777;
	font-size: 14px;
	text-align: center;
	margin-bottom: 0;
}
footer p a{
	color: #777;
	text-decoration: underline;
}
footer .powered{
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	opacity: 0.7;
	margin-top: 10px;
}
footer .powered p{
	margin: 0;
	font-size: 13px;
	color:#777;
	text-align: left;
	margin-right: 10px;
}
section{
	padding: 35px 0;
}
section .row{
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
}

/*//////////HOME////////*/

#inicio{
	height: 85vh;
	width: 100%;
	background: url(../img/bg.jpg) no-repeat;
	background-size: cover;
	background-position: right top;
	padding-top: 120px;
}
#inicio .row{}
#inicio h2{
	color: #2a6642;/*verdemedio*/
	font-size: 36px;
	font-weight: 600;
	font-family: 'Work Sans', sans-serif;
	line-height: 1.2;
}
#inicio p{
	font-size: 24px;
	color:#777;
	line-height: 1.2;
}
#inicio a{
	width: 250px;
	height: 40px;
	background: #fff;
	border-radius:10px;
	border: 2px solid #48b725;/*verdeclaro*/
	color: #48b725;/*verdeclaro*/
	text-transform: uppercase;
	box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.15);
	font-size: 18px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	
}
#inicio a:hover{
	background: #48b725;/*verdeclaro*/
	color:#FFF;
	box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.15);
	text-decoration: none;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}
#banner{
	background: #2a6642;/*verdemedio*/
}
#banner .row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
#banner h3{
	color: #FFF;
	font-size: 30px;
	font-family: 'Work Sans', sans-serif;
	line-height: 1.1;
}
#banner h4{
	color:#FFF;
	font-size: 30px;
	font-weight: 300;
	font-family: 'Barlow', sans-serif;
}
#que-tiene{
	background: #fafafa;
	padding: 20px;
}
#que-tiene h3{
	color: #2a6642;/*verdemedio*/
	font-size: 36px;
	font-weight: 600;
	font-family: 'Work Sans', sans-serif;
	line-height: 1.2;
}
#que-tiene .documentos{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: stretch;
	align-items: stretch;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 20px;
}
#que-tiene .documentos .documento{
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	border: 1px solid #ddd;
	margin: 7px;
    width: calc(33.33334% - 20px);
    flex: inherit;
    padding: 10px;
    background: #fff;
}
#que-tiene .documentos .documento:first-child{
    background: #f0f7f3;
    border: 1px solid #48b725;
}
#que-tiene .documentos .documento img{
	width: 50px;
	margin-right: 10px;
}
#que-tiene .documentos .documento p{
	margin-bottom: 0;
	margin: 0;
	color:#777;
	font-size: 15px;
	line-height: 1.2;
	width: calc(100% - 50px);
	display: inline-block;
	text-align: left;
}
#que-tiene a{
	width: 250px;
	height: 40px;
	background: #fff;
	border-radius:10px;
	border: 2px solid #48b725;/*verdeclaro*/
	color: #48b725;/*verdeclaro*/
	text-transform: uppercase;
	box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.15);
	font-size: 18px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	margin: 20px auto;
}
#que-tiene a:hover{
	background: #48b725;/*verdeclaro*/
	color:#FFF;
	box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.15);
	text-decoration: none;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}
#empleado{
	padding: 20px;
}
#empleado .row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
#empleado h3{
	color: #2a6642;/*verdemedio*/
	font-size: 36px;
	font-weight: 600;
	font-family: 'Work Sans', sans-serif;
	line-height: 1.2;
	text-align: left;
	width: 100%;
}
#empleado p{
	font-size: 18px;
}
#empleado a{
	width: 250px;
	height: 40px;
	background: #fff;
	border-radius:10px;
	border: 2px solid #48b725;/*verdeclaro*/
	color: #48b725;/*verdeclaro*/
	text-transform: uppercase;
	box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.15);
	font-size: 18px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	margin: 20px auto;
}


/*//////////PREVIA////////*/

#pre-form{
	padding-top: 120px;
}
#pre-form h2{
	color:#48b725; /*verdemas claro*/
	font-size: 30px;
	font-family: 'Work Sans', sans-serif;
	width: 100%;
	font-weight: 600;
	text-align: center;
}
#pre-form p{
	font-size: 16px;
	color:#777;
	line-height: 1.2;
}
#pre-form .pasos{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: stretch;
	align-items: stretch;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 15px 0;
}
#pre-form .pasos .paso{
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	-ms-align-items: flex-start;
	align-items: flex-start;
	justify-content: flex-start;
}
#pre-form .pasos .paso span{
	width: 47px;
	height: 47px;
	border-radius:50%;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	color:#FFF;
	background:#2a6642;
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
	margin-right: 10px;
}
#pre-form .pasos .paso p{
	text-align: justify;
	width: calc(100% - 60px);
}
#pre-form .importante{
	margin:15px auto 25px;
	background: #e9fdf0;
	border: 2px solid #07ea58;
	border-radius:10px;
	padding: 25px;
}
#pre-form .importante h3{
	font-size: 30px;
	font-weight: 600;
	color:#48b725;
	font-family: 'Work Sans', sans-serif;
	margin-top: 0;
}
#pre-form .importante ul{
	list-style-type: none;
	margin:0;
}
#pre-form .importante ul li{
	font-size: 18px;
	color:#777;
	margin-bottom: 10px;
	line-height: 1.2;
}
#pre-form .importante ul li i{
	color:#48b725;
	margin-right: 10px;
}
#terminos{}
#terminos h3{
	font-size: 21px;
	color:#2a6642;
	text-transform: uppercase;
	font-weight: 500;
}
#terminos .terminos{
	width: 100%;
    height: 30vh;
	overflow: auto;
	font-family: 'Barlow', sans-serif;
	padding: 20px;
	background:#fafafa;
	display: block;
	margin-bottom: 15px;
}
#terminos .terminos p, #terminos .terminos li{
	font-size: 14px;
	color:#777;
	line-height: 1.2;
	margin-bottom: 10px;
}
#terminos .terminos ol{
	list-style-position: inside;
}
#terminos .terminos ol li ol{
	margin-left: 10px;
	margin-top: 10px;
	list-style-type: lower-latin;
}
#terminos .terminos li strong{
	font-weight: 600;
}
#terminos .acepto{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: flex-start;
}
#terminos .acepto input{}
#terminos .acepto label{
	color:#2a6642;
	font-weight: 600;
	font-family: 'Barlow', sans-serif;
	margin-left: 10px;
	line-height: 1.2;
}
#terminos a{
	width: 250px;
	height: 40px;
	background: #fff;
	border-radius:10px;
	border: 2px solid #48b725;/*verdeclaro*/
	color: #48b725;/*verdeclaro*/
	text-transform: uppercase;
	box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.15);
	font-size: 18px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	margin: 20px auto;
	cursor: pointer;
	opacity:1;
}
#terminos a:hover{
	background: #48b725;/*verdeclaro*/
	color:#FFF;
	box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.15);
	text-decoration: none;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}
#terminos a.disabled{
	cursor: not-allowed;
	color:#ccc;
	border-color:#ccc;
	opacity:0.5;
	background: #fafafa;
	box-shadow: none;
}
#terminos a.disabled:hover{
	box-shadow: none;
	text-shadow: none;
	background: #fafafa;
	color:#ccc;
	cursor: not-allowed;
}

#form{
	padding-top: 120px;
}
#form h2{
	font-size: 24px;
	color:#48b725;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	width: 100%;
	margin-bottom: 0;
	font-family: 'Work Sans', sans-serif;
}
#form p{
	text-align: center;
	font-size: 18px;
	color:#777;
	width: 100%;
}
#form .form-row{
	width: 95%;
	max-width: 1100px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-start;
	align-items: flex-start;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	position: relative;
}
#form .form-row .linea{
	width: 2px;
	height: 100%;
	position: absolute;
	left:50%;
	margin-left: -1px;
	background: #eee;
}
#form .form-row .col-sm-6{
	padding: 0 10px;
}
#form form{
	margin-top: 25px;
}
#form legend{
	color:#2a6642;
	font-size: 18px;
	font-weight: 500;
	font-family: 'Barlow', sans-serif;
	font-weight: 600;
}
#form .form-group{
	width: 100%;
	max-width: 480px;
	position: relative;
	-webkit-transition: 300ms ease-in all;
	-moz-transition: 300ms ease-in all;
	-ms-transition: 300ms ease-in all;
	-o-transition: 300ms ease-in all;
	transition: 300ms ease-in all;
	
}
#form .form-group.razones{
	max-width: inherit;
}
#form .form-group.razones .row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
#form .form-group.razones .form-check{
	margin: 0;
	max-width: 480px;
	margin-bottom: 10px;
}
#form .form-group.razones .form-check label{
	margin-bottom: 0;
	margin-left: 10px;
}
#form .form-group label{
	width: 100%;
	font-size: 15px;
	color:#555;
	font-weight: 500;
}
#form .form-group input[type=text], 
#form .form-group input[type=email], 
#form .form-group input[type=number], 
#form .form-group input[type=date]{
	width: 100%;
	height: 40px;
	border: 2px solid #dbdbdb;
	background: #fff;
	border-radius:10px;
	padding: 0 10px;
	outline:none;
	color:#777;
	margin-bottom: 0;
	box-shadow:none;
}
#form .form-group input[type=text].alert.alert-danger, 
#form .form-group input[type=email].alert.alert-danger, 
#form .form-group input[type=number].alert.alert-danger, 
#form .form-group input[type=date].alert.alert-danger{
	color:#fd5c5c;
	border-color:#fa9e9e;
}
#form .form-group input[type=text]:focus, 
#form .form-group input[type=number]:focus, 
#form .form-group input[type=email]:focus,
#form .form-group input[type=date]:focus{
	border-color:#48b725;
}
#form .form-group .select-custom{
	width: 100%;
	position:relative;
	height: 40px;
	overflow: hidden;
}
#form .form-group .select-custom select{
	width: 100%;
	height: 100%;
	position:absolute;
	opacity:0;
	z-index: 2;
}
#form .form-group .select-custom .select-look{
	width: 100%;
	height: 40px;
	border: 2px solid #dbdbdb;
	background: #fff;
	border-radius:10px;
	padding: 0 10px;
	outline:none;
	color:#777;
	position: relative;
	z-index: 1;
	display: block;
}
#form .form-group .select-custom .select-look i{
	color: #48b725;
	position:absolute;
	font-size: 24px;
	right: 8px;
	top: 50%;
	margin-top: -11px;
}
#form .form-group .select-custom select:focus + .select-look{
	border-color:#48b725;
}
#form .form-group .select-custom .select-look .label-select	{
	margin-bottom: 0;
	color:#777;
	height: 36px;
	line-height: 36px;
}
#form .form-group p{
	width: 100%;
	font-size: 15px;
	color:#555;
	text-align: left;
	font-weight: 500;
}

#form .form-group button{}
#form .form-group p.alert.alert-danger{
	color:#fd5c5c;
	background: none;
	padding: 0;
	border:none;
	opacity:0.7;
	display: block;
	width: 100%;
}
#form .form-group p.alert.alert-danger i{
	margin-right: 10px;
}
#form #btnGuardar{
	width: 250px;
	height: 40px;
	background: #48b725;/*verdeclaro*/
	border-radius:10px;
	border: 2px solid #48b725;/*verdeclaro*/
	color: #fff;
	text-transform: uppercase;
	box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.15);
	font-size: 18px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	margin: 20px auto;
	cursor:pointer;
	-webkit-transition: 300ms all ease-out;
	-moz-transition: 300ms all ease-out;
	-ms-transition: 300ms all ease-out;
	-o-transition: 300ms all ease-out;
	transition: 300ms all ease-out;
	
}
#form #btnGuardar:hover{
	background: #2a6642;
	border-color: #2a6642;
	box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.15);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
    opacity: 0;
}
#form .contractuales{
	padding: 10px 0;
	margin-top: 20px;
	background: #fafafa;
}
#form .form-check-inline{
	margin-right: 15px;
}
#form .form-check-inline label{
	color:#777;
	font-size: 14px;
	font-weight: 400;
}
#form .date-input i{
    color: #48b725;
    position: absolute;
    font-size: 18px;
    right: 14px;
    bottom: 11px;
}
#form .salario{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
#form .form-group.salario input{
	width: calc(100% - 100px);
	display: inline-block;
	border-right:none;
	border-radius: 10px 0 0 10px;
}
#form .salario button{
	background: #48b725;
	color:#FFF;
	border-radius: 0 10px 10px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 40px;
	line-height: 1.1;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    transition: background 300ms ease-out;
}
#form .salario button:hover{
	background: #2a6642;
}
#form .form-group .semanario{
	width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
#form .form-group .semanario .form-check-inline{
	position: relative;
    height: 37px;
    line-height: 37px;
    padding: 0;
    margin: 0;
    width: auto;
    cursor: pointer;
}
#form .form-group .semanario .form-check-inline input{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0;
    margin: 0;
}
#form .form-group .semanario .form-check-inline span{
	width: 100%;
    height: 37px;
    border: 1px solid rgba(0,0,0,0.1);
    display: block;
    padding: 7px;
    line-height: 23px;
    background: #FFF;
    font-size: 15px;
    -webkit-transition: 0.5 background ease;
    -moz-transition: 0.5 background ease;
    -ms-transition: 0.5 background ease;
    -o-transition: 0.5 background ease;
    transition: 0.5 background ease;
    cursor: pointer;
    
}
#form .form-group .semanario .form-check-inline:hover span{
	background: #FFF;
}
#form .form-group .semanario .form-check-inline:first-child span{
	border-radius:6px 0 0 6px;
}
#form .form-group .semanario .form-check-inline:last-child span{
	border-radius:0 6px 6px 0;
}
#form .form-group .semanario .form-check-inline input:checked + span{
	background: #48b725;
	color:#fff;
}
#final-proceso{
	padding-top: 120px;
}
#final-proceso .row{
	text-align: center;
}
#final-proceso h3{
	font-size: 24px;
	font-weight: 600;
	font-family: 'Work Sans', sans-serif !important;
	width: 100%;
	text-align: center;
}
#final-proceso img{
	display: block;
	margin:0 auto 15px;
}
#final-proceso p{
	font-size: 18px;
	color:#777;
	text-align: center;
	max-width: 900px;
	margin: 0 auto 10px;
}
#final-proceso p strong{
	font-weight: 600;
}
#final-proceso .botones{
	width: 100%;
	max-width: 700px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-around;
	margin:0 auto;
}
#final-proceso .botones a{
	width: 45%;
	max-width: 290px;
	min-height: 45px;
	padding: 10px 0;
	text-transform: uppercase;
	border-radius:10px;
	font-size: 18px;
	font-weight: 500;
}
#final-proceso.success h3{
	color:#2a6642;
}
#final-proceso.success p strong{
	color:#2a6642;
}
#final-proceso.success .botones a{
	background: #48b725;
	color:#FFF;
	transition: all 300ms ease-out;
}
#final-proceso.success .botones a:hover{
	background:#2a6642;
	text-decoration: none;
}
#final-proceso.success .botones a.light{
	background: #FFF;
	color:#48b725;
	border: 2px solid #48b725;
}
#final-proceso.success .botones a.light:hover{
	background: #48b725;
	color:#FFF;
}
#final-proceso.wrong h3{
	color:#fd5c5c;
}
#final-proceso.wrong p strong{
	color:#fd5c5c;
}
#final-proceso.wrong .botones a{
	background: #fd5c5c;
	color:#FFF;
	transition: all 300ms ease-out;
}
#final-proceso.wrong .botones a:hover{
	background:#a91d1d;
	text-decoration: none;
}
#final-proceso.wrong .botones a.light{
	background: #FFF;
	color:#48b725;
	border: 2px solid #48b725;
}
#final-proceso.wrong .botones a.light:hover{
	background: #48b725;
	color:#FFF;
}
#final-proceso.onhold h3{
	color:#edd406;
}
#final-proceso.onhold p strong{
	color:#edd406;
}
#final-proceso.onhold .botones a{
	background: #edd406;
	color:#FFF;
	transition: all 300ms ease-out;
}
#final-proceso.onhold .botones a:hover{
	background:#edb906;
	text-decoration: none;
}
#final-proceso.onhold .botones a.light{
	background: #FFF;
	color:#48b725;
	border: 2px solid #48b725;
}
#final-proceso.onhold .botones a.light:hover{
	background: #48b725;
	color:#FFF;
}


input[type=number] { -moz-appearance:textfield; }

#checkout{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	background: rgba(0,0,0,0.85);
}
#checkout .modal-dialog{
	width: 90%;
	max-width: 800px;
}
#checkout .modal-dialog .modal-title{
	font-size: 22px;
	text-align: center;
    width: 100%;
    font-weight: 600;
}
#checkout .modal-dialog .modal-body{
	max-height:70vh;
	overflow: auto;
}
#checkout .modal-dialog .modal-body .row{
	margin:0;
}
#checkout .modal-dialog .modal-body p{
	line-height: 1.2;
}
#checkout .modal-dialog .modal-body h3{
	color:#2a6642;
	padding-bottom: 5px;
	border-bottom: 1px solid #2a6642;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 18px;
}
#checkout .modal-dialog .modal-body dt{
	color: #48b725;/*verdeclaro*/
	font-size: 16px;
	font-weight: 500;
}
#checkout .modal-dialog .modal-body dd{
	color:#777;
	font-size: 14px;
}
#checkout .modal-footer .btn{
    border-radius: 15px;
    min-width: 138px;
    text-transform: uppercase;
    font-weight: 600;
    background-color:#f0f7f3;
    border-color:#2a6642;
    color:#2a6642;
    height: 34px;
    line-height: 20px;
}
#checkout .modal-footer .btn.btn-primary{
	background-color:#2a6642;
	border-color:#2a6642;
	color:#fff;
}
#checkout .modal-footer .btn.btn-primary:hover{
	background-color: #3c4b5a;
	border-color:#3c4b5a; 
}
#checkout .modal-footer .btn.btn-payU{
	padding: 0;
	position:relative;
	border:none;
	background:#adc317;
}
#checkout .modal-footer .btn.btn-payU form{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}

#prevLead{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,0,0.85);
}
#prevLead .modal-dialog{
	width: 90%;
	max-width:500px;
}
#prevLead .modal-dialog .modal-title{
	font-size: 22px;
	text-align: center;
    width: 100%;
    font-weight: 600;
}
#prevLead .modal-dialog .modal-body{
	max-height: 75vh;
	overflow: auto;
}
#prevLead form{
	width: 90%;
	max-width: 400px;
	margin:0 auto;
}
#prevLead .form-group label{
	width: 100%;
	font-size: 15px;
	color:#555;
	font-weight: 500;
}
#prevLead .form-group input[type=text], 
#prevLead .form-group input[type=email], 
#prevLead .form-group input[type=number], 
#prevLead .form-group input[type=date]{
	width: 100%;
	height: 40px;
	border: 2px solid #dbdbdb;
	background: #fff;
	border-radius:10px;
	padding: 0 10px;
	outline:none;
	color:#777;
	margin-bottom: 0;
	box-shadow:none;
}
#prevLead .modal-footer button{
    border-radius: 15px;
    min-width: 140px;
    text-transform: uppercase;
    font-weight: 600;
    background-color:#2a6642;
    color:#f0f7f3;
    border:none;
    height: 34px;
    line-height: 20px;
    margin:0 auto;
    cursor: pointer;
}
#prevLead .modal-footer button:hover{
	background:#48b725;
}


@media (max-width: 1050px){
	#form .form-row .linea{
		display: none;
	}
	#inicio{
		background-position:center;
	}
}
/*--- MOBILE SM---*/
@media (max-width: 920px) {
	#que-tiene .documentos .documento{
		width: calc(50% - 20px);
		max-width: 50%;
	}
}
/*--- MOBILE SM---*/
@media (max-width: 767px) {
	#inicio{
		background: url(../img/bg-movil.png) no-repeat;
	    background-position: top center;
    	background-size: cover;
	}
	#que-tiene .documentos .documento{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 15px;
		border-right: none;
		width: 100%;
		max-width: inherit;
	}
}

/*--- MOBILE XS---*/
@media (max-width: 540px){
	header{
		height: auto;
		padding: 10px 0;
	}
	header nav{
		height: auto;
	}
	header h1{
		margin: 0;
	}
	header h1 img{
		height: 40px;
	}
	section{
		padding: 30px 10px;
	}
	#inicio{
		text-align: center;
		padding-top: 80px;
		height: 90vh;
	    background-position: center 98px;
	}
	#inicio h2{
		font-size: 24px;
	}
	#inicio p{
		font-size: 16px;
	}
	#inicio a{
		margin:0 auto;
	}
	#banner{
		text-align: center;
	}
	#banner h3{
		margin-top: 20px;
		font-size: 21px;
	}
	#banner h4{
		font-size: 16px;
		margin-bottom: 0;
	}
	#banner img{
		width: 60px;
	}
	#que-tiene h3{
		font-size: 24px;
		text-align: center;
	}
	#pre-form, #form{
		padding-top: 80px;
	}
	#form .contractuales{
	    margin: 0 -10px;
    	padding: 10px;
	}
	#form legend{
		font-weight: 600;
		padding-bottom: 8px;
		border-bottom:1px solid #2a6642;
	}
	footer .powered{
		text-align: right;
	}
	footer .powered p{
		text-align: right;
	}
	footer .d-inline-block{
		width: 50%;
	}
	footer .d-inline-block img{
		width: 100%;
	}
}



@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@-webkit-keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}

