{% extends 'base.html.twig' %}
{% block title %}Calcula la liquidación de tu empleado{% endblock %}
{% block body %}
	<section id="final-proceso" class="success">
		<div class="row">
			<img src="{{ asset('img/ok-verde.png') }}" alt="Exito">
			<h3>TU LIQUIDACIÓN FUE GENERADA CON ÉXITO</h3>
			<p>Al correo <strong>{{ register.emailEmployer }}</strong> hemos enviado la simulación de la liquidación de <strong>{{ register.nameEmployee }}</strong> con todos los documentos pertinentes para que se termine la relación laboral.</p>
			<div class="botones">
				<a href="{{ url('form') }}" class="light">Liquidar otro empleado</a>
				<a href="{{ url('homepage') }}">Entendido</a>
			</div>
		</div>
	</section>
{% endblock %}

{% block javascripts %}

{% endblock %}
