{% extends 'base.html.twig' %}
{% block title %}Calcula la liquidación de tu empleado{% endblock %}
{% block body %}
	<section id="final-proceso" class="onhold">
		<div class="row">
			<img src="{{ asset('img/hold.png') }}" alt="No aprobado">
			<h3>ESTAMOS ESPERANDO LA PROBACIÓN DE TU PAGO</h3>
			<p>Tan pronto realices tu pago en el punto baloto más cercano, procederemos a generar los cálculos y enviarlos a tu correo: <strong>{{ register.emailEmployer }}</strong></p>
			<p>Recuerda que tienes un máximo de 3 días para realizar el pago con este pin, de lo contrario tendrías que ingresar nuevamente y hacer el proceso para generar uno nuevo.</p>
			<div class="botones justify-content-center">
				<a href="{{ url('homepage') }}">Entendido</a>
			</div>
		</div>
	</section>
{% endblock %}

{% block javascripts %}

{% endblock %}
