{% extends 'base.html.twig' %}
{% block title %}Calcula cuanto debes pagar al liquidar un empleado{% endblock %}
{% block body %}
	<style>
		.ocultar {
			display: none;
		}
	</style>
	<section id="form">
		<form id="form_registro" autocomplete="off">
			<div class="row">
				<h2>GENERA el cálculo de LA LIQUIDACIÓN DE TU EMPLEADO</h2>
				<p>Diligencia los siguientes datos</p>
			</div>

			<!-- ================================================ -->
			<!-- Datos Empleado/Empleador -->
			<!-- ================================================ -->
			<div>
				<input type="hidden" name="salario_minimo" id="salario_minimo" value="{{ smlv.salario }}">
				<div class="form-row">
					<div class="linea"></div>
					<div class="col-sm-6 col-xs-12" style="max-width:480px;">
						<legend>TUS DATOS (Datos empleador)</legend>
						<div class="form-group">
							<label for="">Nombre Empleador o Razón Social</label>
							<input type="text" name="name_employer" id="name_employer">
							<div class="error_name_employer"></div>
						</div>
						<div class="form-group selectDivLiquidation">
							<label for="">Tipo de documento</label>
							<div class="select-custom" id="DocumEmployer">
								<select name="type_doct_employer" id="type_doct_employer" class="selectLiquidation" onchange="typeDoc()">
									<option value="">Seleccionar</option>
									<option value="CC">Cédula de ciudadanía</option>
									<option value="CE">Cédula de extranjería</option>
									<option value="NIT">Nit</option>
									<option value="RUT">Rut</option>
								</select>
								<span class="select-look">
									<i class="fa fa-angle-down"></i>
									<p class="label-select">Seleccionar</p>
								</span>
							</div>{# select-custom #}
							<div class="error_type_doct_employer"></div>
						</div>
						<div class="form-group">
							<label for="">Número de documento</label>
							<input type="number" name="number_employer" id="number_employer" class="number">
							<div class="error_number_employer"></div>
						</div>
						<div class="form-group">
							<label for="">Celular</label>
							<input type="number" name="phone_employer" id="phone_employer" class="number" minlength="10" maxlength="10">
							<div class="error_phone_employer"></div>
						</div>
						<div class="form-group">
							<label for="">Email</label>
							<input type="email" name="email_employer" id="email_employer">
							<div class="error_email_employer"></div>
						</div>
					</div>
					<div class="col-sm-6 col-xs-12" style="max-width:480px;">
						<legend>DATOS EMPLEADO A LIQUIDAR</legend>
						<div class="form-group">
							<label for="">Nombre Completo</label>
							<input type="text" name="name_employee" id="name_employee">
							<div class="error_name_employee"></div>
						</div>
						<div class="form-group selectDivLiquidation">
							<label for="">Tipo de documento</label>
							<div class="select-custom" id="DocumEmployee">
								<select name="type_doct_employee" id="type_doct_employee" class="selectLiquidation" onchange="typeDoc()">
									<option value="">Seleccionar tipo documento</option>
									<option value="CC">Cédula de ciudadanía</option>
									<option value="CE">Cédula de extranjería</option>
								</select>
								<span class="select-look">
								<i class="fa fa-angle-down"></i>
								<p class="label-select">Seleccionar tipo documento</p>
							</span>
							</div>{# select-custom #}
							<div class="error_type_doct_employee"></div>
						</div>
						<div class="form-group">
							<label for="">Número de documento</label>
							<input type="number" name="number_employee" id="number_employee">
							<div class="error_number_employee"></div>
						</div>
						<div class="form-group">
							<label for="">Email (opcional)</label>
							<input type="email" name="email_employee" id="email_employee">
							<div class="error_email_employee"></div>
						</div>
						<div class="form-group">
							<label for="">Ciudad de trabajo</label>
							<input type="text" name="city" id="city">
							<div class="error_city"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- ===================================================== -->
			<!-- FIN datos Empleado/Empleador -->
			<!-- ===================================================== -->


			<!-- ===================================================== -->
			<!-- Datos Contrato -->
			<!-- ===================================================== -->
			<div class="contractuales">
				<div class="form-row">
					<legend>DATOS CONTRACTUALES</legend>
				</div>
				<div class="form-row">
					<div class="col-sm-6 col-xs-12 form-group">
						<label for="">Cargo</label>
						<input id="cargo" type="text" name="cargo">
						<div class="error_cargo"></div>
					</div>


					<div class="col-sm-6 col-xs-12 form-group selectDivLiquidation">
						<label for="">Tipo de contrato</label>
						<div class="select-custom" id="selectTipContract">
							<select id="tipContract" name="tipContract" class="selectLiquidation">
								<option value="">Seleccione el tipo de contrato</option>
								<option value="TF">Término fijo</option>
								<option value="TI">Término indefinido</option>
							</select>
							<span class="select-look">
								<i class="fa fa-angle-down"></i>
								<p class="label-select">Seleccionar el tipo de contrato</p>
							</span>
						</div>{# select-custom #}
						<div class="error_tipContract"></div>
					</div>
					<div class="col-sm-6 col-xs-12 form-group selectDivLiquidation">
						<label for="">Causa terminación del contrato</label>
						<div class="select-custom" id="cuasaTerminacionContrato">
							<select id="terminacionContrato" name="terminacionContrato" class="selectLiquidation">
								<option value="">Seleccionar causa terminación de contrato</option>
								<option value="Con justa causa">Despido con justa causa</option>
								<option value="Sin justa causa">Despido sin justa causa</option>
								<option value="Renuncia">Renuncia</option>
								<option value="Periodo de prueba">Periodo de prueba</option>
								<option value="Mutuo acuerdo">Mutuo acuerdo</option>
								<option class="optionTf" value="Terminación término fijo" style="display: none">Terminación término fijo</option>
							</select>
							<span class="select-look">
								<i class="fa fa-angle-down"></i>
								<p class="label-select">Seleccionar causa terminación de contrato</p>
							</span>
						</div>{# select-custom #}
						<div class="error_terminacionContrato"></div>
					</div>
					<div id="causa" class="col-sm-12 form-group razones" style="display: none">
						<p>Razón del despido</p>
						<div class="row">
							{% for c in causa %}
								<div class="col-sm-6 col-xs-12 form-check form-check-inline">
									<input type="radio" name="despido" value="{{ c.name }}">
									<label for="">{{ c.name }}</label>
								</div>
							{% endfor %}
						</div>
						<div class="error_despedido"></div>
					</div>
					<div class="col-sm-6 col-xs-12 form-group _jornadaLaboral">
						<p>¿Cuál es la jornada de trabajo?</p>
						<div class="form-check form-check-inline">
							<input class="form-check-input jornadaLaboral" type="radio" name="jornadaLaboral" id="inlineRadio1" value="30" onchange="jornada('30')">
							<label class="form-check-label" for="inlineRadio1">Tiempo Completo</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input jornadaLaboral" type="radio" name="jornadaLaboral" id="inlineRadio2" value="XD" onchange="jornada('XD')">
							<label class="form-check-label" for="inlineRadio2">Por días</label>
						</div>
						<div class="error_jornadaLaboral"></div>
					</div>
					<div id="tipFijo" class="col-sm-6 col-xs-12 form-group date-input" style="display: none">
						<label for="">Fecha de inicio del contrato</label>
						<input type="text" class="datepicker" name="dateInicio" id="dateInicio">
						<i class="fas fa-calendar-alt calendar1"></i>
						<div class="error_dateInicio"></div>
					</div>
					<div id="tipDefinido" class="col-sm-6 col-xs-12 form-group date-input" style="display:none">
						<label for="">Fecha finalización del contrato</label>
						<input type="text" class="datepicker" name="dateFin" id="dateFin">
						<i class="fas fa-calendar-alt"></i>
						<div class="error_dateFin"></div>
					</div>
					<div id="tipLiquid" class="col-sm-6 col-xs-12 form-group date-input" style="display: none">
						<label for="">Último día de trabajo</label>
						<input type="text" class="datepicker" name="dateLiquidacion" id="dateLiquidacion">
						<i class="fas fa-calendar-alt"></i>
						<div class="error_dateLiquidacion"></div>
					</div>
					<div id="salariosMensual" class="col-sm-6 col-xs-12 form-group" style="display: none">
						<label for="">Salario Mensual</label>
						<input type="number" name="salario" id="salario" >
						<button type="button" onclick="smlv('')">Salario mínimo</button>
						<div class="error_salario"></div>
					</div>
					<div id="salarioDiaDiv" class="col-sm-6 col-xs-12 form-group" style="display: none">
						<label for="">Salario Diario</label>
						<input type="number" name="salarioXd" id="salarioXd">
						<button type="button" onclick="smlv('xd')">Salario mínimo diario</button>
						<div class="error_salarioXd"></div>
					</div>
					<div id="diasLaborados" class="col-sm-6 col-xs-12 form-group" style="display: none">
						<p>¿Cuáles días a la semana trabajó?</p>
						<div id="diasLaborados1" class="semanario">
							<label class="form-check form-check-inline">
								<input type="checkbox" name="diasLaborados" value="1">
								<span class="checkbox-look">Lunes</span>
							</label>
							<label class="form-check form-check-inline">
								<input type="checkbox" name="diasLaborados" value="2">
								<span class="checkbox-look">Martes</span>
							</label>
							<label class="form-check form-check-inline">
								<input type="checkbox" name="diasLaborados" value="3">
								<span class="checkbox-look">Miércoles</span>
							</label>
							<label class="form-check form-check-inline">
								<input type="checkbox" name="diasLaborados" value="4">
								<span class="checkbox-look">Jueves</span>
							</label>
							<label class="form-check form-check-inline">
								<input type="checkbox" name="diasLaborados" value="5">
								<span class="checkbox-look">Viernes</span>
							</label>
							<label class="form-check form-check-inline">
								<input type="checkbox" name="diasLaborados" value="6">
								<span class="checkbox-look">Sábado</span>
							</label>
							<label class="form-check form-check-inline">
								<input type="checkbox" name="diasLaborados" value="0">
								<span class="checkbox-look">Domingo</span>
							</label>
						</div>
						<div class="error_diasLaborados"></div>
					</div>
					<div class="col-sm-6 col-xs-12 form-group">
						<label for="">¿Cuántos días de vacaciones tomó?</label>
						<input type="number" name="vacacionesDais" id="vacacionesDais" value="0">
						<div class="error_vacacionesDias"></div>
					</div>
					<div class="col-sm-6 col-xs-12 form-group" id="isAux">
						<p>¿Reside a menos de 1km del trabajo?</p>
						<div class="form-check form-check-inline">
							<input class="form-check-input aux" type="radio" name="aux" value="1">
							<label class="form-check-label" for="internaSi">Si</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input aux" type="radio" name="aux" value="0">
							<label class="form-check-label" for="internaNo">No</label>
						</div>
						<div class="error_aux"></div>
					</div>

					<div class="col-sm-6 col-xs-12 form-group" id="pagoPrima" style="display: none">
						<p></p>
		        <div class="form-check form-check-inline">
		            <input class="form-check-input pgPrima" type="radio" name="pgPrima" value="Si">
		            <label class="form-check-label" for="primaSi">Si</label>
		        </div>
		        <div class="form-check form-check-inline">
		            <input class="form-check-input pgPrima" type="radio" name="pgPrima" value="No">
		            <label class="form-check-label" for="primaNo">No</label>
		        </div>
		        <div class="error_pgPrima"></div>
					</div>

					<div class="col-sm-6 col-xs-12 form-group" id="cesantiasPregunta" style="display: none">
						<p></p>
		        <div class="form-check form-check-inline">
		            <input class="form-check-input pgCesantias" type="radio" name="pgCesantias" value="Si">
		            <label class="form-check-label" for="cesantiasSi">Si</label>
		        </div>
		        <div class="form-check form-check-inline">
		            <input class="form-check-input pgCesantias" type="radio" name="pgCesantias" value="No">
		            <label class="form-check-label" for="cesantiasNo">No</label>
		        </div>
		        <div class="error_pgCesantias"></div>
					</div>

					<div class="col-sm-6 col-xs-12 form-group" id="cambioSalarioCheck">
						<p>¿A cambiado el salario en el último año?</p>
						<div class="form-check form-check-inline">
							<input class="form-check-input aux" type="radio" name="cambioSalario" value="1">
							<label class="form-check-label" for="cambioSalarioSi">Si</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input aux" type="radio" name="cambioSalario" value="0">
							<label class="form-check-label" for="cambioSalarioNo">No</label>
						</div>
						<div class="error_cambioSalario"></div>
					</div>
					<div class="col-sm-6 col-xs-12 form-group cambioSalario" style="display: none;">
						<dl>
							<p>¿Cuando realizó el último cambio de salario?</p>
							<input type="date" name="dateSalari" id="dateSalari">
							<p>Anterior salario</p>
							<div class="form-check form-check-inline">
								<input type="number" id="salaryPrevious" name="salaryPrevious">
							</div>
							<div class="error_salaryPrevius"></div>
						</dl>
					</div>

				</div>
				<div class="form-row">
					<button type="submit" id="btnGuardar" data-id="">Calcular liquidación</button>
				</div>
			</div>
			<!-- ===================================================== -->
			<!-- FIN Datos Contrato -->
			<!-- ===================================================== -->
		</form>

	</section>

	<div class="modal" tabindex="-1" role="dialog" id="checkout" style="display: none">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Revisa los datos antes de continuar</h5>
            <button type="button" class="close hideElement" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="row">
                <div class="col-sm-12 col-xs-12">
                </div>
                <div class="col-sm-12 col-xs-12">
                    <h3>TUS DATOS (Datos empleador)</h3>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <dl>
                        <dt>Nombre Completo o Nombre empresa</dt>
                        <dd id="Dname"></dd>
                    </dl>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <dl>
                        <dt>Tipo de documento</dt>
                        <dd id="DtypeDocument"></dd>
                    </dl>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <dl>
                        <dt>Número de documento</dt>
                        <dd id="DnumberEm"></dd>
                    </dl>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <dl>
                        <dt>Celular</dt>
                        <dd id="DphonEm"></dd>
                    </dl>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <dl>
                        <dt>Email</dt>
						<dd id="DemailEm"></dd>
                    </dl>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <h3>DATOS EMPLEADO A LIQUIDAR</h3>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <dl>
                        <dt>Nombre Completo</dt>
						<dd id="DnameEmplo"></dd>
                    </dl>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <dl>
                        <dt>Tipo de documento</dt>
						<dd id="DtypeDocEmplo"></dd>
                    </dl>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <dl>
                        <dt>Número de documento</dt>
						<dd id="DnumberEmplo"></dd>
                    </dl>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <dl>
                        <dt>Email (opcional)</dt>
						<dd id="DemailEmplo"></dd>
                    </dl>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <h3>DATOS CONTRACTUALES</h3>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <dl>
                        <dt>Cargo</dt>
						<dd id="Dcargo"></dd>
                    </dl>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <dl>
                        <dt>Tipo de contrato</dt>
						<dd id="DtypeContract"></dd>
                    </dl>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <dl>
                        <dt>Causa terminación del contrato</dt>
						<dd id="DcausaTer"></dd>
                    </dl>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <dl>
                        <dt>¿Cuál es la jornada de trabajo?</dt>
						<dd id="Djornada"></dd>
                    </dl>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <dl>
                        <dt>Fecha de inicio del contrato</dt>
						<dd id="DdateIni"></dd>
                    </dl>
                </div>
                <div id="tc2" class="col-sm-6 col-xs-12">
                    <dl>
                        <dt>Fecha finalización del contrato</dt>
						<dd id="DdateEnd"></dd>
                    </dl>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <dl>
                        <dt>Último día de trabajo</dt>
						<dd id="DdateLiqui"></dd>
                    </dl>
                </div>
                <div id="xd" class="col-sm-6 col-xs-12">
                    <dl>
                        <dt>Salario Mensual</dt>
						<dd id="Dsalary"></dd>
                    </dl>
                </div>
                <div id="tc" class="col-sm-6 col-xs-12">
                    <dl>
                        <dt>Salario Diario</dt>
						<dd id="DdSalary"></dd>
                    </dl>
                </div>
                <div id="tc1" class="col-sm-6 col-xs-12">
                    <dl>
                        <dt>¿Cuáles días a la semana trabajó?</dt>
						<dd id="DdaysXD"></dd>
                    </dl>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <dl>
                        <dt>¿Reside a menos de 1km del trabajo?</dt>
						<dd id="Daux"></dd>
                    </dl>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <dl>
                        <dt>¿Cuántos días de vacaciones tomó?</dt>
						<dd id="Dvacaciones"></dd>
                    </dl>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <dl>
                        <dt>¿Pagaste la prima del último periodo (30 junio 2018)?</dt>
						<dd id="Dprima"></dd>
                    </dl>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <dl>
                        <dt>¿Pagaste las cesantías del periodo 2017 en febrero de 2018?</dt>
						<dd id="Dces"></dd>
                    </dl>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary hideElement" data-dismiss="modal">Corregir</button>
			  <div class="btn btn-payU">
				  <form id="formPayU" method="post" action="https://checkout.payulatam.com/ppp-web-gateway-payu/" accept-charset="UTF-8">
					  <input type="image" border="0" alt="" src="http://www.payulatam.com/img-secure-2015/boton_pagar_mediano.png" onClick="this.form.urlOrigen.value = window.location.href;"/>
					  <input name="merchantId" type="hidden" value="{{ merchantId }}"/>
					  <input name="accountId" type="hidden" value="556965"/>
					  <input name="referenceCode" type="hidden" value="{{ reference }}"/>
					  <input name="description" type="hidden" value="Pago cálculos de liquidación"/>
					  <input name="amount" type="hidden" value="{{ amount }}"/>
					      <input name="tax" type="hidden" value="{{ tax }}"/>
					      <input name="taxReturnBase" type="hidden" value="{{ valWithoutTax }}"/>
					  <input name="shipmentValue" value="0" type="hidden"/>
					  <input name="currency" type="hidden" value="{{ currency }}"/>
					  <input name="lng" type="hidden" value="es"/>
					  <input name="test" type="hidden" value="0"/>
					  <input name="buyerEmail" id="buyerEmail" type="hidden">
					  <input name="extra1" id="extra1" type="hidden"/>
					  <input name="approvedResponseUrl" type="hidden" value="https://www.afiliese.co/aprobado"/>
					  <input name="declinedResponseUrl" type="hidden" value="https://www.afiliese.co/no-aprobado"/>
					  <input name="pendingResponseUrl" type="hidden" value="https://www.afiliese.co/espera"/>
                      <input name="confirmationUrl"    type="hidden"  value="https://www.afiliese.co/payu/confirmacion" >
					      <input name="displayShippingInformation" type="hidden" value="NO"/>
					    <input name="sourceUrl" id="urlOrigen" value="" type="hidden"/>
					    <input name="signature" value="{{ signature }}" type="hidden"/>
				  </form>
			  </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/bootstrap-datepicker.es.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/scripts/formulario.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bootstrap/accounting.min.js') }}"></script>
{% endblock %}
