{% extends 'base.html.twig' %}
{% block title %}Calcula cuanto debes pagar al liquidar un empleado{% endblock %}
{% block body %}
<section id="inicio">
	<div class="row">
		<div class="col-md-6 col-sm-12 col-xs-12">
			<h2>Calcula las liquidaciones de tus empleados</h2>
			<p><strong>¡En sólo 5 minutos!</strong></p>
			<p>Por solo <strong>${{ amount|number_format(0, '.') }}</strong> conoce cuánto debes pagar por la liquidación de tus empleados y recibe toda la documentación necesaria.</p>
			<p>Paga fácil con Tarjeta de crédito, PSE, en puntos Baloto y Efecty.</p>
			<a href="javascript:;" class="go2modal">Calcular liquidación</a>
		</div>
		<div class="col-md-6 col-sm-12 col-xs-12"></div>
	</div>
</section>
<section id="banner">
	<div class="row">
		<div class="col-md-2 col-sm-3 col-xs-12">
			<img src="{{ asset('img/ok-blanco.png') }}" alt="Bien">
		</div>
		<div class="col-md-10 col-sm-9 col-xs-12">
			<h3>Genera los cálculos de liquidación de tus empleados acorde a la ley colombiana</h3>
			<h4>Y evítate dolores de cabeza...</h4>
		</div>
	</div>
</section>
<section id="empleado">
	<div class="row">
		<h3>¿A qué empleados aplica?</h3>
	</div>
	<div class="row">
		<div class="col-sm-5 d-none d-sm-block">
			<img src="{{ asset('img/bg2-mobile.png') }}" alt="Bien" width="100%" style="max-width:600px;">
		</div>
		<div class="col-sm-7 col-xs-12">
			<p>Aplica para todos los empleados (incluye empleados domésticos), con contratos a <strong>termino fijo e indefinido</strong>, que no superen los 1,5 años de antigüedad; tanto por días como tiempo completo.</p>
			<a href="javascript:;" class="go2modal">Calcular liquidación</a>
		</div>
		<div class="col-xs-12 d-block d-sm-none image-xs">
			<img src="{{ asset('img/bg2-mobile.png') }}" alt="Bien" width="100%" style="max-width:600px;">
		</div>
	</div>
</section>
<section id="que-tiene">
	<div class="row">
		<h3>¿Qué incluye el paquete de liquidación?</h3>
		<p>El paquete de liquidación va acorde al motivo de la terminación del contrato.</p>
	</div>
	<div class="row documentos">
		<div class="col-sm-4 col-xs-12 documento">
			<img src="{{ asset('img/liquidacion.png') }}" alt="documento">
			<p><strong>Cálculos de liquidación:</strong> Aquí encuentras los cálculos de cuanto deberías pagarle a tu empleado para finalizar la relación laboral y la indemnización en caso de que aplique.</p>
		</div>
		<div class="col-sm-4 col-xs-12 documento">
			<img src="{{ asset('img/certificado.png') }}" alt="documento">
			<p><strong>Documento soporte indemnización:</strong> Explica los cálculos para la obtención de la indemnización.</p>
		</div>
		<div class="col-sm-4 col-xs-12 documento">
			<img src="{{ asset('img/carta.png') }}" alt="documento">
			<p><strong>Certificado laboral:</strong> Rectifica que tu empleado laboró para ti por el periodo y cargo en cuestión.</p>
		</div>
		<div class="col-sm-4 col-xs-12 documento">
			<img src="{{ asset('img/carta.png') }}" alt="documento">
			<p><strong>Notificación de terminación de contrato despido CON justa causa:</strong> Anuncia formalmente el despido y el efecto de terminación de contrato, así como la causa de este.</p>
		</div>
		<div class="col-sm-4 col-xs-12 documento">
			<img src="{{ asset('img/carta.png') }}" alt="documento">
			<p><strong>Notificación de terminación de contrato despido SIN justa causa:</strong> Anuncia formalmente el despido y el efecto de terminación de contrato.</p>
		</div>
		<div class="col-sm-4 col-xs-12 documento">
			<img src="{{ asset('img/carta.png') }}" alt="documento">
			<p><strong>Notificación de terminación de contrato a término fijo:</strong> Anuncia formalmente la terminación de contrato debido a la finalización del tiempo el contrato pactado.</p>
		</div>
		<div class="col-sm-4 col-xs-12 documento">
			<img src="{{ asset('img/carta.png') }}" alt="documento">
			<p><strong>Aceptación mutuo acuerdo:</strong> Rectifica formalmente la disposición de ambos de dar por terminado el contrato.</p>
		</div>
		<div class="col-sm-4 col-xs-12 documento">
			<img src="{{ asset('img/carta.png') }}" alt="documento">
			<p><strong>Aceptación de renuncia:</strong> Notifica formalmente estar de acuerdo con la renuncia del empleado.</p>
		</div>
	</div>
	<div class="row">
		<a href="javascript:;" class="go2modal">Calcular liquidación</a>
	</div>
</section>
<div class="modal" tabindex="-1" role="dialog" id="prevLead" style="display: none;">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Deja tus datos para empezar los cálculos:</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="post" id="formLead">
			<div class="modal-body">
					<div class="form-group">
						<label for="">Nombre Empleador o Razón Social</label>
						<input type="text" name="name_employer" id="name_employer" required />
					</div>
					<div class="form-group">
						<label for="">Celular</label>
						<input type="number" name="celular" id="phone_employer" class="number" minlength="10" maxlength="10" required />
					</div>
					<div class="form-group">
						<label for="">Email</label>
						<input type="email" name="email" id="email_employer" required />
					</div>

			</div>
			<div class="modal-footer">
				<button type="submit" id="btnGuardar">Continuar</button>
			</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}

	<script>
		$(document).ready(function (e) {

			$(document).on('click','.go2modal',function (e) {
				$('#prevLead').css('display','block');

			});

			$(document).on('click','.close',function (e) {
				$('#prevLead').css('display','none');
			});

			$(document).on('submit','#formLead',function (e) {
				e.preventDefault(0);
				e.stopPropagation();
				var data = $(this).serialize();

				$.ajax({
					type: 'POST',
					url: '{{ url("crearLead") }}',
					data: data,
					error: function() {
						swal('Se presento un error');
					},
					dataType: 'json',
					success: function(data, textStatus, xhr) {
						console.log(data);
						if(data['flag'] == true){
							localStorage.setItem('leadData',data['id']);
							window.location.replace('/info');
						} else {
							swal('Se presento un error');
						}
					},
				});

			});

		});
	</script>

{% endblock %}
