{% extends 'base.html.twig' %}
{% block title %}Calcula cuanto debes pagar al liquidar un empleado{% endblock %}
{% block body %}
	<style>
		.ocultar {
			display: none;
		}
	</style>
<section id="form">
	<div class="row">
		<h2>Liquidación</h2>
	</div>

	<table class="table">

		<thead>
			<td>Nombre Empleador</td>
			<td>Tipo documento</td>
			<td>numero documento</td>
			<td>Tipo contrato </td>
			<td>Terminación contrato </td>
			<td>Valor aux</td>
			<td>Pago prima</td>
			<td>salario</td>
			<td>jornada laboral</td>
			<td>vacaciones</td>
			<td>pego cesantias</td>
			<td>primera prima</td>
			<td>Segunda prima</td>
			<td>cesantias Actual</td>
			<td>cesantias Anterior</td>
			<td>Valor interes cesantias Actual</td>
			<td>Valor interes cesantias Anterior</td>
			<td>Valor Vacaciones</td>
			<td>dias calculados vacaciones</td>
			<td>Valor indemnización</td>
		</thead>

		<tbody>
    	{% for r in reg %}

			<tr>
				<td>{{ r.nameEmployer}}</td>
				<td>{{ r.typeDocEmployer}}</td>
				<td>{{ r.numberEmployer}}</td>
				<td>{{ r.typeContract}}</td>
				<td>{{ r.termContract}}</td>
				<td>{{ r.transSubsidy}}</td>
				<td>{{ r.paymentPrima}}</td>
				<td>{{ r.salary}}</td>
				<td>{{ r.jornadaLaboral}}</td>
				<td>{{ r.vacaciones}}</td>
				<td>{{ r.paymentCesantias}}</td>
				<td>{{ r.valorPrimeraPrima}}</td>
				<td>{{ r.valorSegundaPrima}}</td>
				<td>{{ r.valorCesantiasActual}}</td>
				<td>{{ r.valorCesantiasAnterior}}</td>
				<td>{{ r.valorIntCesantiasActual}}</td>
				<td>{{ r.valorIntCesantiasAnterior}}</td>
				<td>{{ r.valorVacaciones}}</td>
				<td>{{ r.diasVacaciones}}</td>
				<td>{{ r.valorIndemnizacion}}</td>
			</tr>
        {% endfor %}
		</tbody>
	</table>
</section>


{% endblock %}

{% block javascripts %}

{% endblock %}