{% extends 'base.html.twig' %}
{% block title %}Calcula la liquidación de tu empleado{% endblock %}
{% block body %}
	<section id="final-proceso" class="wrong">
		<div class="row">
			<img src="{{ asset('img/wrong.png') }}" alt="No aprobado">
			<h3>LO SENTIMOS</h3>
			<p>No se pudo procesar tu pago, por favor intenta con un método de pago diferente o intenta más tarde.</p>
			<div class="botones justify-content-center">
				<a href="{{ url('homepage') }}">Entendido</a>
			</div>
		</div>
	</section>
{% endblock %}

{% block javascripts %}

{% endblock %}
