{% extends 'backOffice/base.html.twig' %}

{% block body %}

    <div class="page-content">
        <!-- BEGIN BREADCRUMBS -->
        <div class="breadcrumbs">
            <h1>Reporte de Liquidaciones</h1>
        </div>
        <!-- END BREADCRUMBS -->
        <!-- BEGIN SIDEBAR CONTENT LAYOUT -->
        <div class="page-content-container">
            <div class="page-content-row">
                <div class="page-content-col">

                    <table id="example" class="table compact table-bordered table-hover display">
                        <thead>
                        <tr>
                            <th>Empleador</th>
                            <th>Móvil</th>
                            <th>Email</th>
                            <th>Empleado</th>
                            <th>Cargo</th>
                            <th>Ciudad</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for registro in registros %}
                                <tr>
                                    <td>{{ registro.nameEmployer }}</td>
                                    <td>{{ registro.phoneEmployer }}</td>
                                    <td>{{ registro.emailEmployer }}</td>
                                    <td>{{ registro.nameEmployee }}</td>
                                    <td>{{ registro.cargo }}</td>
                                    <td>{{ registro.ciudad }}</td>
                                    <td>{{ registro.status.getName() }}</td>
                                    <td>
                                        <a href="{{ url('showDetails',{'id': registro.id}) }}"><i data-toggle='tooltip' title='Ver detalles' class='fa fa-eye'></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <!-- END SIDEBAR CONTENT LAYOUT -->
    </div>

{% endblock %}

{% block pluginJS %}
    <script>
        $(document).ready(function (e) {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}