{% extends 'backOffice/base.html.twig' %}

{% block body %}

    <div class="page-content">
        <!-- BEGIN BREADCRUMBS -->
        <div class="breadcrumbs">
            <h1>Reporte de Leads</h1>
        </div>
        <!-- END BREADCRUMBS -->
        <!-- BEGIN SIDEBAR CONTENT LAYOUT -->
        <div class="page-content-container">
            <div class="page-content-row">
                <div class="page-content-col">

                    <table id="example" class="table compact table-bordered table-hover display">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Móvil</th>
                            <th>Email</th>
                            <th>Fecha y Hora</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for lead in leads %}
                                <tr>
                                    <td>{{ lead.nombre }}</td>
                                    <td>{{ lead.celular }}</td>
                                    <td>{{ lead.email }}</td>
                                    <td>{{ lead.fechaCreacion|date('d-m-Y H:i:s',"America/Bogota")}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <!-- END SIDEBAR CONTENT LAYOUT -->
    </div>

{% endblock %}

{% block pluginJS %}
    <script>
        $(document).ready(function (e) {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}