{% extends 'backOffice/base.html.twig' %}

{% block body %}

    <div class="page-content">
        <!-- BEGIN BREADCRUMBS -->
        <div class="breadcrumbs">
            <h1>Detalles Liquidación</h1>
            <ol>

            </ol>
        </div>
        <!-- END BREADCRUMBS -->
        <!-- BEGIN SIDEBAR CONTENT LAYOUT -->
        <div class="page-content-container">
            <div class="page-content-row">
                <div class="page-content-col">

                    <div class="col-sm-12 col-xs-12" align="right">
                        <h3 class="red bold">Estado TX: {{ registro.status.getName() }}</h3>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <h3>TUS DATOS (Datos empleador)</h3>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <dl>
                                <dt>Nombre Completo o Nombre empresa</dt>
                                <dd id="Dname">{{ registro.nameEmployer }}</dd>
                            </dl>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <dl>
                                <dt>Tipo de documento</dt>
                                <dd id="DtypeDocument">{{ registro.typeDocEmployer }}</dd>
                            </dl>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <dl>
                                <dt>Número de documento</dt>
                                <dd id="DnumberEm">{{ registro.numberEmployer }}</dd>
                            </dl>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <dl>
                                <dt>Celular</dt>
                                <dd id="DphonEm">{{ registro.phoneEmployer }}</dd>
                            </dl>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <dl>
                                <dt>Email</dt>
                                <dd id="DemailEm">{{ registro.emailEmployer }}</dd>
                            </dl>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <h3>DATOS EMPLEADO A LIQUIDAR</h3>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <dl>
                                <dt>Nombre Completo</dt>
                                <dd id="DnameEmplo">{{ registro.nameEmployee }}</dd>
                            </dl>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <dl>
                                <dt>Tipo de documento</dt>
                                <dd id="DtypeDocEmplo">{{ registro.typeDocEmployee }}</dd>
                            </dl>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <dl>
                                <dt>Número de documento</dt>
                                <dd id="DnumberEmplo">{{ registro.numberDocEmployee }}</dd>
                            </dl>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <dl>
                                <dt>Email (opcional)</dt>
                                <dd id="DemailEmplo">{{ registro.emailEmployee }}</dd>
                            </dl>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <h3>DATOS CONTRACTUALES</h3>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <dl>
                                <dt>Cargo</dt>
                                <dd id="Dcargo">{{ registro.cargo }}</dd>
                            </dl>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <dl>
                                <dt>Tipo de contrato</dt>
                                <dd id="DtypeContract">{{ registro.typeContract }}</dd>
                            </dl>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <dl>
                                <dt>Causa terminación del contrato</dt>
                                <dd id="DcausaTer">{{ registro.termContract }}</dd>
                            </dl>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <dl>
                                <dt>¿Cuál es la jornada de trabajo?</dt>
                                <dd id="Djornada">{{ registro.jornadaLaboral }}</dd>
                            </dl>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <dl>
                                <dt>Fecha de inicio del contrato</dt>
                                <dd id="DdateIni">{{ registro.dateInit|date("d-m-Y") }}</dd>
                            </dl>
                        </div>
                        {% if registro.typeContract == 'TF' %}
                        <div id="tc2" class="col-sm-6 col-xs-12">
                            <dl>
                                <dt>Fecha finalización del contrato</dt>
                                <dd id="DdateEnd">{{ registro.dateEnd|date("d-m-Y") }}</dd>
                            </dl>
                        </div>
                        {% endif %}
                        <div id="tc2" class="col-sm-6 col-xs-12">
                            <dl>
                                <dt>Fecha de liquidación</dt>
                                <dd id="DdateEnd">{{ registro.dateLiquidation|date("d-m-Y") }}</dd>
                            </dl>
                        </div>
                        <div id="xd" class="col-sm-6 col-xs-12">
                            <dl>
                                <dt>Salario Mensual</dt>
                                <dd id="Dsalary">{{ registro.salary }}</dd>
                            </dl>
                        </div>
                        {% if registro.jornadaLaboral == 'XD' %}
                        <div id="tc1" class="col-sm-6 col-xs-12">
                            <dl>
                                <dt>¿Cuáles días a la semana trabajó?</dt>
                                <dd id="DdaysXD">{{ registro.nameEmployer }}</dd>
                            </dl>
                        </div>
                        {% endif %}
                        <div class="col-sm-6 col-xs-12">
                            <dl>
                                <dt>¿Cuántos días de vacaciones tomó?</dt>
                                <dd id="Dvacaciones">{{ registro.vacaciones }}</dd>
                            </dl>
                        </div>
                    </div>

                    <div class="row">
                        {% if registro.status.getId() > 1  %}
                            <div class="row top20" align="center">
                                <a target="_blank" href="{{ url('downloadDocumentsAdmin',{'id':registro.id}) }}" class="btn btn-primary" data-id="{{ registro.id }}">Descargar Documentos</a>
                            </div>
                            <div class="row top20" align="center">
                                <div class="col-md-12">
                                    <input type="email" id="emailClient" value="{{ registro.emailEmployer }}">
                                    <button class="btn btn-primary btn-dark" data-id="{{ registro.id }}" id="sendDocs">Enviar email</button>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
        <!-- END SIDEBAR CONTENT LAYOUT -->
    </div>

{% endblock %}

{% block pluginJS %}
    <script>
        $(document).ready(function (e) {
            $('[data-toggle="tooltip"]').tooltip();

            $(document).on('click','#sendDocs',function (e) {
                $('#sendDocs').attr("disabled", "disabled");
                var email = $('#emailClient').val();
                e.preventDefault();
                e.stopPropagation();

                $.ajax({
                    type: 'POST',
                    url: '{{ url("sendEmailFromAdmin") }}',
                    data: {
                        'email' : email,
                        'idRegister' : $(this).attr("data-id")
                    },
                    error: function() {
                        swal('Se presento un error');
                    },
                    dataType: 'json',
                    success: function(data, textStatus, xhr) {
                        $('#sendDocs').removeAttr('');
                        swal('Hecho','Se ha enviado el email a '+email,'success');
                    }
                });

            });

            $(document).on('click','#downDocs',function (e) {
                e.preventDefault();
                e.stopPropagation();

                $.ajax({
                    type: 'POST',
                    url: '{{ url("downloadDocumentsFromAdmin") }}',
                    data: {
                        'idRegister' : $(this).attr("data-id")
                    },
                    error: function() {
                        swal('Se presento un error');
                    },
                    dataType: 'json',
                    success: function(data, textStatus, xhr) {
                        $('#sendDocs').removeAttr('');
                        swal('Hecho','Se ha enviado el email a '+email,'success');
                    }
                });

            });

        });
    </script>
{% endblock %}