{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .ocultar {
            display: none;
        }

        .border {
            margin-top: 1.50%;
        }

        .marggin {
            margin-top: 1.50%;
            margin-left: 1.50%;
        }
    </style>
    <div class="container border">
        <div class="row">
            <div class="center-block marggin">
                <label for="">DATOS CONTRACTUALES</label>
            </div>
        </div>
        <div class="row" id="ocultar">
            <div class="col-md-6">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Cargo: </label><br>
                        <input id="cargo" type="text">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Causa terminación de contrato: </label><br>
                        <select name="" id="terminacionContrato">
                            <option value="">--Seleccionar--</option>
                            <option value="jc">justa causas</option>
                            <option value="sjc">Sin justa causas</option>
                            <option value="r">Renuncio</option>
                            <option value="pp">Periodo de prueba</option>
                        </select>
                    </div>
                    <div id="tipFijo" class="form-group ocultar">
                        <label for="exampleFormControlInput1">Fecha inicio: </label><br>
                        <input id="dateInicio" type="date" onchange="dateIni()">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Salario: </label><br>
                        <input id="salario" type="number">
                        <button onclick="smlv()">SMLV</button>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">¿Pagaste las cesantías del periodo 2017 en febrero de
                            2018?</label><br>
                        <input type="radio" name="pgCesantias" value="-180">Si
                        <input type="radio" name="pgCesantias" value="0">No
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <h4 class=""></h4>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Tipo contrato: </label><br>
                        <select id="tipContract" onchange="dateIni()">
                            <option value="">--Seleccionar--</option>
                            <option value="TI">Termino indefinido</option>
                            <option value="TF">Termino fijo</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">¿Cuál es la jornada de trabajo?</label><br>
                        <input type="radio" name="jornadaTrabajo" value="30" onchange="jornada()">Tiempo completo
                        <input type="radio" name="jornadaTrabajo" value="XD" onchange="jornada()">Por días
                    </div>
                    <div id="jornadaLaboral" class="form-group ocultar">
                        <label for="exampleFormControlInput1">Seleccionar los días laborados a la
                            semana.</label><br>
                        <input type="checkbox" name="diasLaborados" value="0">Domingo
                        <input type="checkbox" name="diasLaborados" value="1">Lunes
                        <input type="checkbox" name="diasLaborados" value="2">Martes
                        <input type="checkbox" name="diasLaborados" value="3">Miércoles
                        <input type="checkbox" name="diasLaborados" value="4">Jueves
                        <input type="checkbox" name="diasLaborados" value="5">Viernes
                        <input type="checkbox" name="diasLaborados" value="6">Sábado
                    </div>
                    <div id="tipDefinido" class="form-group ocultar">
                        <label for="exampleFormControlInput1">Fecha fin contrato: </label>
                        <input id="dateFin" type="date" onchange="dateIni()">
                    </div>
                    <div id="tipLiquid" class="form-group ocultar">
                        <label for="exampleFormControlInput1">Fecha liquidación: </label>
                        <input id="dateLiquidacion" type="date">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">¿Reside a menos de 1km del trabajo?</label><br>
                        <input type="radio" name="aux" value="88211">Si
                        <input type="radio" name="aux" value="0">No
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">¿Pagaste la prima del último periodo
                            (30junio2018)?</label><br>
                        <input type="radio" name="pgPrima" value="-180">Si
                        <input type="radio" name="pgPrima" value="0">No
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h4 class="">Novedad vacaciones: </h4>
                <div class="border">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Vacaciones: </label><br>
                        <label id="vacaciones" for="exampleFormControlInput1"></label><br>
                        <input id="cantVacaciones" type="number">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <h4 class="">Liquidación: </h4>
                    <div class="border">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Cesantía: </label>
                            <label id="cesantias" for=""></label>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Interes Cesantías: </label>
                            <label id="interesCesantias" for=""></label>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Prima: </label>
                            <label id="prima" for=""></label>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Vacaciones: </label>
                            <label id="valorVacaciones" for=""></label>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">indemnización: </label><br>
                            <label id="indemnizacion" for="exampleFormControlInput1"></label><br>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-danger" onclick="peticionAjax()">Guardar</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bootstrap/accounting.min.js') }}"></script>
    <script type="text/javascript">
         var daysWorked = 0;
         var valorIndemnizacion = 0;

        //Días 360
         function day360(dateInit, dateEnd) {

             daysWorked = 0;
             $.ajax({
                 url: "/calcularDias",
                 method: 'post',
                 async:false,
                 dataType: 'json',
                 data: {
                     dateInit: dateInit,
                     dateEnd: dateEnd
                 },
                 success: function (data) {
                     daysWorked = data.days;

                 }
             });

             return daysWorked;

         }
         //Días 360


         // Días 360
         function indemnizacion(dias, salario, jornada) {

             valorIndemnizacion = 0;
             $.ajax({
                 url: "/calcularIndemnizacion",
                 method: 'post',
                 async:false,
                 dataType: 'json',
                 data: {
                     dias: dias,
                     salario: salario,
                     jornada: jornada
                 },
                 success: function (data) {
                     valorIndemnizacion = data.indemnizacion;

                 }
             });

             return valorIndemnizacion;

         }
         //Días 360

         //Petición ajax back
        function peticionAjax() {

            var cargo = $("#cargo").val();
            var salario = parseInt($("#salario").val());
            var tipContract = $("#tipContract").val();
            var terminacionContrato = $("#terminacionContrato").val();
            var dateInicio = $("#dateInicio").val();
            var dateFin = $("#dateFin").val();
            var dateLiquidacion = $("#dateLiquidacion").val();
            var jornadaLaboral = parseInt($('input[name=jornadaTrabajo]:checked').val());
            var aux = $('input[name=aux]:checked').val();
            var pgPrima = $('input[name=pgPrima]:checked').val();
            var pgCesantias = $('input[name=pgCesantias]:checked').val();
            var diasLaborados = $('input[name=diasLaborados]:checked').val();

            if (cargo != "" && salario != "" && tipContract != "" && terminacionContrato != "" && jornadaLaboral != undefined && aux != undefined && pgPrima != undefined && pgCesantias != undefined) {
                $("#tipFijo").removeClass("ocultar");
                //indemnización
                if (tipContract == "TF" && terminacionContrato == "sjc" && dateLiquidacion != "") {

                    //inicio y fin contrato
                    var diffIniFin = day360(dateInicio, dateFin);
                    //inicio y fin contrato


                    //fin y liq contrato valor indemnizacion
                    var diffFinFin = day360(dateLiquidacion, dateFin);
                    //fin y liq contrato valor indemnizacion


                    var valorIndemnizacion = indemnizacion(diffFinFin, salario, jornadaLaboral);
                    //fin y liq contrato valor indemnizacion

                } else {

                }
                //indemnización

            } else {
                swal("Obligatorio!", "Todos los campos son requeridos!", "error");
            }

        }
        //Petición ajax back


        //fecha inicio
        function dateIni() {
            $("#tipFijo").removeClass("ocultar");
            var dateInicio = $("#dateInicio").val();
            var dateFin = $("#dateFin").val();
            if (dateInicio != "" && $("#tipContract").val() == "TF") {
                $("#tipDefinido").removeClass("ocultar");
                if (dateFin != "") {
                    document.getElementById("dateFin").setAttribute("min", this.value = dateInicio);
                    $("#tipLiquid").removeClass("ocultar");
                }
            } else if ($("#tipContract").val() == "TI" && dateInicio != "") {
                $("#tipLiquid").removeClass("ocultar");
            }
            document.getElementById("dateLiquidacion").setAttribute("min", this.value = dateInicio);
            document.getElementById("dateLiquidacion").setAttribute("max", this.value = dateFin);
        }

        //fecha inicio


        //Tipo jornada
        function jornada() {
            var jornada = $('input[name=jornadaTrabajo]:checked').val();
            if (jornada == "XD") {
                $("#jornadaLaboral").removeClass("ocultar");
            } else {
                $("#jornadaLaboral").addClass("ocultar");
            }
        }
        //Tipo jornada


        function smlv() {

            $("#salario").val(781242);
        }
    </script>
{% endblock %}

